<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="/static/css/register-login.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css" media="screen">

</head>
<body>
<div id="box"></div>
<div class="cent-box">
    <div class="cent-box-header">
    </div>
    <div class="cent-box-content">
        <div class="form-warning"></div>

        <form method='POST' id="form1">
            <div id="login">
                <div class="border-btm form-ipt">
                    <input type="text" id="phonenum" name="phonenum" maxlength="11" placeholder="请输入手机号码"
                           oninput="phonenumListen(this)">
                </div>
                <div class="form-ipt">
                    <input type="password" id="password" name="password" maxlength="21" placeholder="请输入密码">
                </div>

                <input class="form-ipt" id="is_browser" name="is_browser" value="Ture" style="display: none">
                <div class="form-ipt" style="display: none">
                    <input type="text" id="device_type" name="device_type" value="pc">
                </div>
            </div>
            <div class="button">
                <button type="button" class="submit-btn" id="button" onclick="authLogin()">登录</button>
            </div>
        </form>
        <p class="change-signup">没有账号，请转到<a href="/register">注册</a>界面</p>
        <a href="/forget-password"><p class="forget-pwd">忘记密码？</p></a>

        <a href="/steam_login"><img style="display: inline-block; margin-top:15px; margin-left: 270px; width: 25px; height: 25px" src={{ static_url("images/home.png") }} ></a>
    </div>
</div>

<div class="footer">
    <p>北京聚力维度科技有限公司</p>
    <div class="end-line">
        <p>
            <span><i class="fa fa-phone"></i>010 - 8215 - 2208</span>
            <span><i class="fa fa-envelope-o"></i>market@12dms.com</span>
        </p>
    </div>
</div>

<script src='/static/js/particles.js' type="text/javascript"></script>
<script src='/static/js/background.js' type="text/javascript"></script>
<script src='/static/js/jquery.min.js' type="text/javascript"></script>
<script src='/static/js/jquery.js' type="text/javascript"></script>
<script type="text/javascript">

    function phonenumListen(obj) {
        var val = obj.value;
        var re = /^1\d{10}$/;
        if (re.test(val)) {
            $('.form-warning').html("<a>成功</a>");
        } else {
            $('.form-warning').html("<a>请输入手机号</a>");
        }
    }

    function authLogin() {
        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "login",
            data: $('#form1').serialize(),
            async: true,

            success: function (data) {
                console.log(data);
                var res = data.error_code;
                console.log(data.error_code);
                if (res == '1000') {
                    console.log(">>>>");
                    window.location.href = "/package_list"
                } else {
                    var error_msg = data.msg;
                    $('.form-warning').html("<a>" + error_msg + "</a>");
                }
            },
            error: function () {
                $('.form-warning').html("<a>服务器异常</a>");

            }

        })
    }

    function setCookie(key, value, expiredays) {
        var exdate = new Date();
        exdate.setDate(exdate.getDate() + expiredays);
        document.cookie = key + "=" + escape(value) +
            ((expiredays == null) ? "" : "; expires=" + exdate.toGMTString())
    }


    function phonenumListen(obj) {
        var val = obj.value;
        var re = /^1\d{10}$/;
        if (re.test(val)) {
            $('.form-warning').html("<a>成功</a>");
        } else {
            $('.form-warning').html("<a>请输入手机号</a>");
        }
    }


</script>
</body>
</html>
