<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Meow Shop</title>
{#    <meta charset="utf-8">#}

      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="Template Monster Admin Template">
    <meta property="og:description" content="brevis, barbatus clabulares aliquando convertam de dexter, peritus capio. devatio clemens habitio est.">
    <link rel="stylesheet" href="/static/components/base/base.css">
      <style>
          .btn.topaz {
            {#border-top-left-radius: 20px !important;#}
              border-top-right-radius: 60px;
              border-bottom-right-radius: 60px;
              border-bottom-left-radius: 60px;
          }
          .btn.topaz:hover {
            {#background-color: #264555;#}
            {#color: #1c54e2;#}
          }

          .custom-control-text.topaz_text{
              color: #264555
          }

        .link-inherit.topaz_link:hover {
            color: #6c757d;
        }
          .thumbnail-img.topaz_img{

          }


          .thumbnail-img.topaz_img:hover {
                border: solid 2px ;
          }

          .thumbnail-img.topaz_img:focus{
              border: solid 10px ;  // 相框效果好看
          }


    </style>
  </head>
    <body>
    <div class="page">
      <!--RD Navbar-->

        <header class="section rd-navbar-wrap rd-navbar-wrap-transparent">
        <nav id="shop_header" class="rd-navbar rd-navbar-solid rd-navbar-transparent" data-rd-navbar='{"responsive":{"1200":{"stickUpOffset":"164px"}}}'>
          <div class="navbar-section navbar-non-stuck">
            <div class="navbar-panel">
              <button class="navbar-switch mdi-menu novi-icon" data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","isolate":"[data-multi-switch]"}'></button>
              <div class="navbar-logo">
                    <a class="navbar-navigation-root-link" href="/" style="width: 160%; font-size: 22px; font-weight: 500; margin-top: -4%;"> Meow Shop </a>
              </div>
            </div>
            <div class="navbar-container">
              <div class="navbar-cell flex-grow-1">
                <div class="navbar-info">
                  <div class="list list-icons-2">
                    <div class="list-item">
                        <li class="navbar-navigation-root-item">
                            <a id="shop_title" class="navbar-navigation-root-link" href="/" style="font-size: 28px; font-weight: 500;"> Meow Shop </a>
                        </li>

                    </div>
                  </div>
                  <div class="navbar-logo navbar-fullwidth-logo">
                      <a class="navbar-logo-link" href="index.html">
                      </a>
                  </div>
                  <div class="text-block text-block-2 d-md-flex align-items-center justify-content-center">
                    <div class="list list-icons-2">
                      <div class="list-item">
                          <a class="navbar-navigation-root-link" style="display: inline-block; " href="/user_info">
                              <span class="mdi-account" style="display: inline-block"> {{ username }}  </span>
                          </a>
                    </div>
                  </div>
                </div>

                </div>
              </div>
              <div class="navbar-cell">
                <div class="navbar-subpanel">
                  <div class="navbar-subpanel-item">
                    <button class="navbar-button navbar-info-button mdi-dots-vertical novi-icon" data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","class":"navbar-info-active","isolate":"[data-multi-switch]"}'></button>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="navbar-section">
            <div class="navbar-container navbar-sidebar" style="margin-top: 1%">
              <div class="navbar-cell flex-grow-1">
                  <ul class="navbar-navigation rd-navbar-nav" style="margin-left: 58px">

                    <li class="navbar-navigation-root-item" style="margin-left: -58px;">
                        <a class="navbar-navigation-root-link" style="display: inline-block; " href="/">
                            <span class="product-btn btn topaz btn-icon mdi-home " style="display: inline-block; border: 1px solid white;"> Home </span>
                        </a>
                    </li>

                      <li class="navbar-navigation-root-item" style="margin-left: -58px;">
                        <a class="navbar-navigation-root-link" style="display: inline-block; " href="/store_catalog">
                            <span class="product-btn btn topaz btn-icon mdi-shopping" style="display: inline-block; border: 1px solid white;"> &nbsp;Shop 商店&nbsp;&nbsp; &nbsp;</span>
                        </a>
                    </li>



                    <li class="navbar-navigation-root-item" style="margin-left: -58px;">
                        <a class="navbar-navigation-root-link" style="display: inline-block; " href="/package_list">
                            <span class="product-btn btn topaz btn-icon mdi-cake " style="display: inline-block; border: 1px solid white;"> 会员套餐 </span>
                        </a>
                    </li>


                      <li class="navbar-navigation-root-item" style="margin-left: -58px;">
                          <a class="navbar-navigation-root-link" style="display: inline-block; " href="/user_info">
                            <span class="product-btn btn topaz btn-icon mdi-account" style="display: inline-block; border: 1px solid white;"> 会员信息 </span>
                            </a>
                    </li>

                     <li class="navbar-navigation-root-item" style="margin-left: -58px;">
                            <a class="navbar-navigation-root-link" style="display: inline-block; " href="/my_heart">
                                <span class="product-btn btn topaz btn-icon mdi-account-plus" style="display: inline-block; border: 1px solid white;"> 我的账户 </span>
                            </a>

                        <ul class="navbar-navigation-dropdown rd-navbar-dropdown">
                        <li class="navbar-navigation-back">
                          <button class="navbar-navigation-back-btn">Back</button>
                        </li>
                         <li class="navbar-navigation-dropdown-item">
                             <a class="navbar-navigation-dropdown-link" href="/order_list">我的订单</a>
                         </li>
                        <li class="navbar-navigation-dropdown-item">
                            <a class="navbar-navigation-dropdown-link" href="/my_items">我的购买</a>
                        </li>
{#                         <li class="navbar-navigation-dropdown-item">#}
{#                             <a class="navbar-navigation-dropdown-link" href="/my_heart">我的收藏</a>#}
{#                         </li>#}

                      </ul>

                    </li>

                    <li class="navbar-navigation-root-item" style="margin-left: -58px;">
                            <a class="navbar-navigation-root-link" style="display: inline-block; " href="/about_us">
                                <span class="product-btn btn topaz btn-icon mdi-note-outline" style="display: inline-block; border: 1px solid white;"> 关于我们 </span>
                            </a>

                        <ul class="navbar-navigation-dropdown rd-navbar-dropdown">
                        <li class="navbar-navigation-back">
                          <button class="navbar-navigation-back-btn">Back</button>
                        </li>
                        <li class="navbar-navigation-dropdown-item">
                            <a class="navbar-navigation-dropdown-link" href="/about_us">产品介绍</a>
                        </li>
                         <li class="navbar-navigation-dropdown-item">
                             <a class="navbar-navigation-dropdown-link" href="/feedback">问题反馈</a>
                         </li>
                      </ul>

                    </li>
                </ul>
              </div>

            </div>
          </div>
        </nav>
      </header>

<section class="section section-md  text-center" style="max-width: 80%; margin-left: 10%;">
    <div class="container" style="">
          <div class="text-block">
              <div class="title-1"><a class="link link-inherit topaz_link" href="#">Meow Shop</a></div>
              <h2>我的收藏</h2>
          </div>
        <div class="isotope-filters nav nav-line justify-content-center">
            <div class="nav-item">
                <div class="nav-link isotope-filter active" data-isotope-filter="*"></div>
            </div>
        </div>

        <div class="row row-30 row-content " style="width: 96%; margin-left: 2%;">
                {% for goods in data %}
                    <div class="col-sm-6 col-md-4" style="">
                            <!-- Person-->
                            <div class="person person-social">



                              <div class="person-media">
                                  <a class="thumbnail-media"  href="/single_product?goods_name={{ goods["goods_name"] }}&goods_id={{ goods["goods_id"] }}&goods_price={{ goods["goods_price"] }}">
                                    <img class="thumbnail-img topaz_img" src="{{ goods["image_path"] }}" style="width: 100%; max-width: 100%; min-width: 100%;  min-height: 210px; max-height: 210px" alt="" >

                                  </a>
                              </div>
                              <div class="person-title h4">
                                  <a href="/single_product?goods_name={{ goods["goods_name"] }}&goods_id={{ goods["goods_id"] }}&goods_price={{ goods["goods_price"] }}">
                                    {{ goods["goods_name"] }}
                                    </a>
                                    <div class="link link-inherit topaz_link icon mdi-delete" style="" onclick="DeleteMyHeart({{ goods["goods_id"] }})"></div>

                              </div>
                              <div class="person-text">
                                  ¥ {{ goods["goods_price"] }}

                              </div>

                            </div>
                    </div>

                {% end %}
        </div>

        </div>


    <ul class="pag pag-light justify-content-center">


                {# 上一页 #}
                {% if page_info["current_page"] - 1 > 0 %}
                    <li class="pag-item ">
                       <a class="pag-link pag-link-prev" href="/my_heart?page={{ subtract(page_info["current_page"], 1) }}">
                           <span class="pag-icon mdi-chevron-left novi-icon"></span>
                           <span>Prev</span>
                       </a>
                    </li>
                {% elif page_info["current_page"] - 1 == 0 %}
                    <li class="pag-item disabled">
                       <a class="pag-link pag-link-prev" href="/my_heart?page={{ subtract(page_info["current_page"], 1) }}">
                           <span class="pag-icon mdi-chevron-left novi-icon"></span>
                           <span>Prev</span>
                       </a>
                    </li>
                {% end %}


                {#  Page part #}
{#                {% if page_info["total_page"] > 5 %}#}
                    {% if page_info["current_page"] - 2 >= 0 %}
                        {% if page_info["current_page"] + 1  == page_info["total_page"]  %}
                            {% if subtract(page_info["current_page"], 3) > 0 %}
                                <li class="pag-item ">
                                   <a class="pag-link" href="/my_heart?page={{ subtract(page_info["current_page"], 3) }}">
                                       {{ subtract(page_info["current_page"], 3) }}
                                   </a>
                                </li>
                            {% end %}

                        {% elif page_info["current_page"]  == page_info["total_page"] %}
                            {% if subtract(page_info["current_page"], 4) > 0 %}
                                <li class="pag-item ">
                                   <a class="pag-link" href="/my_heart?page={{ subtract(page_info["current_page"], 4) }}">
                                       {{ subtract(page_info["current_page"], 4) }}
                                   </a>
                                </li>
                            {% end %}
                            {% if subtract(page_info["current_page"], 3) > 0 %}
                                <li class="pag-item ">
                                    <a class="pag-link" href="/my_heart?page={{ subtract(page_info["current_page"], 3) }}">
                                        {{ subtract(page_info["current_page"], 3) }}
                                    </a>
                                 </li>
                            {% end %}

                        {% end %}

                        {% if page_info["current_page"] > 2 %}
                            <li class="pag-item ">
                               <a class="pag-link" href="/my_heart?page={{ subtract(page_info["current_page"], 2) }}">
                                   {{ subtract(page_info["current_page"], 2) }}
                               </a>
                            </li>
                        {% end %}

                        <li class="pag-item ">
                           <a class="pag-link" href="/my_heart?page={{ subtract(page_info["current_page"], 1) }}">
                               {{ subtract(page_info["current_page"], 1) }}
                           </a>
                        </li>

                    {% end %}

                    <li class="pag-item active">
                        <a class="pag-link" href="/my_heart?page={{ page_info["current_page"] }}">{{ page_info["current_page"] }}</a>
                    </li>

                    {% if page_info["current_page"] + 2  <= page_info["total_page"] %}
                        <li class="pag-item ">
                            <a class="pag-link" href="/my_heart?page={{ add(page_info["current_page"], 1) }}">
                                {{ add(page_info["current_page"], 1) }}
                            </a>
                        </li>

                        <li class="pag-item ">
                            <a class="pag-link" href="/my_heart?page={{ add(page_info["current_page"], 2) }}">
                                {{ add(page_info["current_page"], 2) }}
                            </a>
                        </li>

                    {% elif page_info["current_page"] + 1  <= page_info["total_page"] %}
                        <li class="pag-item ">
                            <a class="pag-link" href="/my_heart?page={{ add(page_info["current_page"], 1) }}">
                                {{ add(page_info["current_page"], 1) }}
                            </a>
                        </li>


                    {% end %}

                    {#  前面没有页数可显示, 所以用大的页数 #}
                    {% if page_info["current_page"] < 3 %}
                        {% if page_info["total_page"] >=  add(page_info["current_page"], 3)  %}
                            <li class="pag-item ">
                                <a class="pag-link" href="/my_heart?page={{ add(page_info["current_page"], 3) }}">
                                    {{ add(page_info["current_page"], 3) }}
                                </a>
                            </li>
                        {% end %}

                        {% if page_info["current_page"] < 2 %}
                            {% if page_info["total_page"] >=  add(page_info["current_page"], 4)  %}
                                <li class="pag-item ">
                                    <a class="pag-link" href="/my_heart?page={{ add(page_info["current_page"], 4) }}">
                                        {{ add(page_info["current_page"], 4) }}
                                    </a>
                                </li>
                            {% end %}
                        {% end %}

                    {% end %}

{#                {% end %}#}

                {# 下一页 #}
                {% if page_info["total_page"] - page_info["current_page"] > 0 %}
                    <li class="pag-item">
                        <a class="pag-link pag-link-next" href="/my_heart?page={{ add(page_info["current_page"], 1) }}">
                            <span>Next</span>
                            <span class="pag-icon mdi-chevron-right novi-icon"></span>
                        </a>
                    </li>
                {% elif page_info["total_page"] - page_info["current_page"] == 0 %}
                    <li class="pag-item disabled">
                        <a class="pag-link pag-link-next" href="/my_heart?page={{ add(page_info["current_page"], 1) }}">
                            <span>Next</span>
                            <span class="pag-icon mdi-chevron-right novi-icon"></span>
                        </a>
                    </li>

                {% end %}

{#                最后一页#}
                {% if  page_info["total_page"]  > 5%}
                    {% if page_info["total_page"] == page_info["current_page"]  %}
                        <li class="pag-item disabled">
                    {% else %}
                         <li class="pag-item">
                            <a class="pag-link pag-link-end" href="/my_heart?page={{ page_info["total_page"] }}">
                                <span>Last</span>
                                <span class="pag-icon mdi-chevron-double-right novi-icon"></span>
                            </a>
                        </li>
                    {% end %}
                {% end %}

                </ul>

</section>




        <section class="footer footer-dark context-dark bg-800" style="margin-top: 10%">
        <div class="container">
            <div class="row row-30">

                <div class="col-sm-6 col-lg-3">
                    <h5 class="footer-title">联系方式</h5>
                    <ul class="list list-icons">
                        <li class="list-item">
                            <div class="list-icon onclinic-map-marker"></div>
                            北京市朝阳区五里桥一街1号非中心5号楼四层十二维度
                        </li>
                        <li class="list-item">
                            <div class="list-icon onclinic-phone"></div>
                            010-85717789
                        </li>
                        <li class="list-item">
                            <div class="list-icon onclinic-email-open"></div>
                            market@12dms.com
                        </li>

                    </ul>

                </div>

            </div>
        </div>
    </section>
        <footer class="footer footer-minimal context-dark bg-900">
        <div class="container">
                <!-- Copyright-->
                <p class="rights">Copyright &copy; 2020.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
        </div>
      </footer>
    </div>
    <!-- Preloader-->
    <div class="preloader">
      <div class="preloader-inner">
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
      </div>
    </div>
  </body>
</html>

<script src="/static/components/base/core.min.js"></script>
<script src="/static/components/base/script.js"></script>

<script type="text/javascript">
    var shop_header = document.getElementById("shop_header");
    var shop_title = document.getElementById("shop_title");
    var filter_all = document.getElementById("All");
    var all_typ_list = document.getElementsByName("cartFilter1");

    function CheckedFilter() {
        var filter_str = window.location.href.split("filter=");
        if (filter_str.length > 1){
            var filter_list = filter_str[1].split("+");
            console.log(filter_list);
            for (let i = 0; i in filter_list; i++){
                console.log(filter_list[i]);
                document.getElementById(filter_list[i]).checked = true
            }
        }
    }


    function DestoryOtherFilter() {
        console.log("!!!! DestoryOtherFilter");

        for (let i in all_typ_list){
            if (all_typ_list[i].checked){
                all_typ_list[i].checked = false;
            }
        }

        var uri = "&filter=" + filter_all.id;    // Todo: 拼接 uri
        var url = window.location.href;
        if (url.indexOf("?") == "-1"){
            url = url + "?";
        }
        var addr = url.split("&filter")[0] + uri;
        window.location.href = addr;

    }

    function FilterProduct() {
        var checked_id;
        var addr = "";
        var sort_by = "";

        for (let i=0; i in all_typ_list; i++){
            if (all_typ_list[i].checked){
                checked_id  = "filter=" + all_typ_list[i].id
            }
        }

        var current_url = window.location.href.split("?");
        console.log(current_url);
        var current_host = current_url[0];
        var uri_str = current_url[1];

        if (uri_str != undefined){
            var uri_list = uri_str.split("&");
            for (let num=0; num in uri_list; num++){
                if (uri_list[num].startsWith("sort")){
                    sort_by = uri_list[num];
                }
            }
        }

        if (sort_by.length == 0){
            addr = current_host + "?" + checked_id;
        }else{
            addr = current_host + "?" + sort_by + "&" + checked_id
        }

        window.location.href = addr;
        console.log("!!!", addr);
    }

    function SortProduct() {
        var sort_selecter = document.getElementById("select_sort").value;
        var current_page = document.getElementsByClassName("pag-item active")[0].innerText;
        var addr;
        if (sort_selecter){
            var current_url = window.location.href.split("?");
            console.log(current_url);
            var filter = "";
            var current_host = current_url[0];
            var uri_str = current_url[1];

            if (uri_str != undefined){
                var uri_list = uri_str.split("&");
                for (let num=0; num in uri_list; num++){
                    if (uri_list[num].startsWith("filter")){
                        filter = uri_list[num];
                    }
                }
            }

            if (filter.length == 0){
                addr = current_host + "?" + "sort=" + sort_selecter;
            }else{
                addr = current_host + "?" + "sort=" + sort_selecter + "&" + filter
            }

            {#var addr = "http://" + window.location.host + "/store_catalog?page=" + current_page + "&sort=" + sort_selecter;#}
            console.log("!! Addr", addr);
            window.location.href = addr;

        }
    }

    function MyHeart(goods_id) {
        console.log("product id", goods_id);
        const formData = new FormData();
        formData.append("goods_id", goods_id);

        $.ajax({
            url: "/add_myheart",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                var error_code = response["error_code"];
                if (error_code == "1000"){
                    alert("收藏成功");
                    // Todo: 如果不足三个手动加上去
                    {#window.location.reload();#}
                    return;
                }
                else if(error_code == "7006"){
                    alert("已收藏");
                }
            }
        });
    }

    function DeleteMyHeart(goods_id) {
        console.log("product id", goods_id);
        const formData = new FormData();
        formData.append("goods_id", goods_id);

        $.ajax({
            url: "/delete_myheart",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                var error_code = response["error_code"];
                if (error_code == "1000"){
                    alert("取消收藏成功");
                    window.location.reload()
                    return;
                }
                else if(error_code == "7007"){
                    alert("收藏项不存在");
                }
            }
        });


    }



    // For listen Page width change
    var option = {
        attributes: true,
        attributeFilter: ['class']
    };

    var mutationObserver = new MutationObserver(function (mutations) {
        if (shop_header.className.indexOf('rd-navbar-fixed') != -1){
            shop_title.style.display = "None";
        }else{
            shop_title.style.display = "Block";
        }
    });

    mutationObserver.observe(shop_header, option);
    CheckedFilter();
</script>
