<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Meow Shop</title>
{#    <meta charset="utf-8">#}

      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="Template Monster Admin Template">
    <meta property="og:description" content="brevis, barbatus clabulares aliquando convertam de dexter, peritus capio. devatio clemens habitio est.">
    <link rel="stylesheet" href="/static/components/base/base.css">
      <style>
          .btn.topaz {
            {#border-top-left-radius: 20px !important;#}
              border-top-right-radius: 60px;
              border-bottom-right-radius: 60px;
              border-bottom-left-radius: 60px;
          }
          .btn.topaz:hover {
            {#background-color: #264555;#}
            {#color: #1c54e2;#}
          }

          .custom-control-text.topaz_text{
              color: #264555
          }

        .link-inherit.topaz_link:hover {
            color: #6c757d;
        }


    </style>
  </head>
    <body>
    <div class="page">
      <!--RD Navbar-->

        <header class="section rd-navbar-wrap rd-navbar-wrap-transparent">
        <nav id="shop_header" class="rd-navbar rd-navbar-solid rd-navbar-transparent" data-rd-navbar='{"responsive":{"1200":{"stickUpOffset":"164px"}}}'>
          <div class="navbar-section navbar-non-stuck">
            <div class="navbar-panel">
              <button class="navbar-switch mdi-menu novi-icon" data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","isolate":"[data-multi-switch]"}'></button>
              <div class="navbar-logo">
                    <a class="navbar-navigation-root-link" href="/" style="width: 160%; font-size: 22px; font-weight: 500; margin-top: -4%;"> Meow Shop </a>
              </div>
            </div>
            <div class="navbar-container">
              <div class="navbar-cell flex-grow-1">
                <div class="navbar-info">
                  <div class="list list-icons-2">
                    <div class="list-item">
                        <li class="navbar-navigation-root-item">
                            <a id="shop_title" class="navbar-navigation-root-link" href="/" style="font-size: 28px; font-weight: 500;"> Meow Shop </a>
                        </li>

                    </div>
                  </div>
                  <div class="navbar-logo navbar-fullwidth-logo">
                      <a class="navbar-logo-link" href="index.html">
                      </a>
                  </div>
                  <div class="text-block text-block-2 d-md-flex align-items-center justify-content-center">
                    <div class="list list-icons-2">
                      <div class="list-item">
                          <a class="navbar-navigation-root-link" style="display: inline-block; " href="/user_info">
                              <span class="mdi-account" style="display: inline-block"> {{ username }}  </span>
                          </a>
                    </div>
                  </div>
                </div>

                </div>
              </div>
              <div class="navbar-cell">
                <div class="navbar-subpanel">
                  <div class="navbar-subpanel-item">
                    <button class="navbar-button navbar-info-button mdi-dots-vertical novi-icon" data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","class":"navbar-info-active","isolate":"[data-multi-switch]"}'></button>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="navbar-section">
            <div class="navbar-container navbar-sidebar" style="margin-top: 1%">
              <div class="navbar-cell flex-grow-1">
                  <ul class="navbar-navigation rd-navbar-nav" style="margin-left: 58px">

                    <li class="navbar-navigation-root-item" style="margin-left: -58px;">
                        <a class="navbar-navigation-root-link" style="display: inline-block; " href="/">
                            <span class="product-btn btn topaz btn-icon mdi-home " style="display: inline-block; border: 1px solid white;"> Home </span>
                        </a>
                    </li>

                      <li class="navbar-navigation-root-item" style="margin-left: -58px;">
                        <a class="navbar-navigation-root-link" style="display: inline-block; " href="/store_catalog">
                            <span class="product-btn btn topaz btn-icon mdi-shopping" style="display: inline-block; border: 1px solid white;"> &nbsp;Shop 商店&nbsp;&nbsp; &nbsp;</span>
                        </a>
                    </li>



                    <li class="navbar-navigation-root-item" style="margin-left: -58px;">
                        <a class="navbar-navigation-root-link" style="display: inline-block; " href="/package_list">
                            <span class="product-btn btn topaz btn-icon mdi-cake " style="display: inline-block; border: 1px solid white;"> 会员套餐 </span>
                        </a>
                    </li>


                      <li class="navbar-navigation-root-item" style="margin-left: -58px;">
                          <a class="navbar-navigation-root-link" style="display: inline-block; " href="/user_info">
                            <span class="product-btn btn topaz btn-icon mdi-account" style="display: inline-block; border: 1px solid white;"> 会员信息 </span>
                            </a>
                    </li>

                     <li class="navbar-navigation-root-item" style="margin-left: -58px;">
                            <a class="navbar-navigation-root-link" style="display: inline-block; " href="/my_heart">
                                <span class="product-btn btn topaz btn-icon mdi-account-plus" style="display: inline-block; border: 1px solid white;"> 我的账户 </span>
                            </a>

                        <ul class="navbar-navigation-dropdown rd-navbar-dropdown" >
                        <li class="navbar-navigation-back">
                          <button class="navbar-navigation-back-btn">Back</button>
                        </li>
                         <li class="navbar-navigation-dropdown-item">
                             <a class="navbar-navigation-dropdown-link" href="/order_list">我的订单</a>
                         </li>
                        <li class="navbar-navigation-dropdown-item">
                            <a class="navbar-navigation-dropdown-link" href="/my_items">我的物品</a>
                        </li>
{#                         <li class="navbar-navigation-dropdown-item">#}
{#                             <a class="navbar-navigation-dropdown-link" href="/my_heart">我的喜欢</a>#}
{#                         </li>#}

                      </ul>

                    </li>

                    <li class="navbar-navigation-root-item" style="margin-left: -58px;">
                            <a class="navbar-navigation-root-link" style="display: inline-block; " href="/about_us">
                                <span class="product-btn btn topaz btn-icon mdi-note-outline" style="display: inline-block; border: 1px solid white;"> 关于我们 </span>
                            </a>

                        <ul class="navbar-navigation-dropdown rd-navbar-dropdown" style="">
                        <li class="navbar-navigation-back">
                          <button class="navbar-navigation-back-btn">Back</button>
                        </li>
                        <li class="navbar-navigation-dropdown-item">
                            <a class="navbar-navigation-dropdown-link" href="/about_us">产品介绍</a>
                        </li>
                         <li class="navbar-navigation-dropdown-item">
                             <a class="navbar-navigation-dropdown-link" href="/feedback">问题反馈</a>
                         </li>
                      </ul>

                    </li>
                </ul>
              </div>

            </div>
          </div>
        </nav>
      </header>

<section class="section section-md  text-center">
        <div class="container">
          <div class="text-block">
              <div class="title-1"><a class="link link-inherit topaz_link" href="#">Meow Shop</a></div>
            <h2>我的物品</h2>

          </div>

            <div class="container tab">
          <ul class="nav nav-line justify-content-center active" role="tablist">
            <li class="nav-item"><a class="nav-link h6 active" data-toggle="tab" href="#navLine3-1" role="tab" aria-selected="true">我的购买</a></li>
            <li class="nav-item"><a class="nav-link h6" data-toggle="tab" href="#navLine3-2" role="tab" aria-selected="false">我的上传</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade active show" id="navLine3-1" role="tabpanel">
            <div class="text-block" style="float: left">
                <h3>全部物品</h3>
            </div>
                    <div class="product-search-results" style="float: right; margin-bottom: 2%; opacity: .5;">
                        Showing {{ page_info["start"] + 1 }}-{{ page_info["end"]  }} of {{ page_info["total_data"]  }} results
                    </div>



                <div class="table-responsive">
                <table class="table table-1">
                  <thead  >
                  <tr >
                    <th style="font-weight: 600;">已购买&nbsp;
                        <span class="icon blurb-icon linearicons-question-circle" onmousedown="ShowTag('question')"></span>
                        <span id="question_tag" style="margin-top: 11px; box-shadow: 0 14px 14px rgba(108, 117, 125, 0.1); position:absolute; display: none; background-color: #fff; font-size: 12px ">
                           部分商品需付费后使用
                        </span>
                    </th>
                    <th style=" font-weight: 600; text-align: left;">商品图</th>
                    <th style="font-weight: 600; text-align: left;">商品名称</th>
                    <th style="font-weight: 600;">商品价格</th>
{#                    <th style="font-weight: 600;">商品类型</th>#}
                    <th style="font-weight: 600;">订单详情</th>

                    </tr>
                  </thead>
                    <tbody>

                  {% for goods in data %}

                    <tr  id="{{ goods["goods_id"] }}">
                      <td onmousedown="ShowTag({{ goods["goods_id"] }})">
{#                          cursor:not-allowed; 不可点击样式  margin-top: 18px; #}
                          <div style="   cursor:not-allowed;">
                            <span style=" display:inline-block; width:32px; height:28px; border: 1px solid #6c757d57; border-radius: 39%; cursor:not-allowed; ">
                                  <a class="link link-inherit topaz_link"  style="cursor:not-allowed;" href="#navLine3-1">
                                      <span class="list-icon onclinic-check" style=""></span>
                                  </a>
                            </span>
                          </div>
                          <div style="">
                            <span id="{{ goods["goods_id"] }}_tag" style="box-shadow: 0 14px 14px rgba(108, 117, 125, 0.1); position:absolute; display: none; background-color: #fff; font-size: 12px ">
                                {{ goods["desc"] }}
                            </span>
                          </div>
{##}
{#                          <a class="icon blurb-icon linearicons-text-align-right" href="#" style=" font-size: 0.82rem; position: relative; top: 32.12px;">#}
{#                              &nbsp;查看订单#}
{#                          </a>#}

                      </td>
                      <td>
                        <div style="width: 80px">
{#                            <a href="/single_product?goods_name={{ goods["goods_name"] }}&goods_id={{ goods["goods_id"] }}&goods_price={{ goods["goods_price"] }}">#}
                              <a href="#{{ goods["goods_id"] }}">
                                <img src="{{ goods["image_path"] }}" style="min-width: 80px; min-height: 80px; max-width: 80px; max-height: 80px" alt="" width="80" height="80">
                            </a>
                        </div>
                      </td>
                      <td style="text-align: left;">
                          <a class="link link-inherit" href="/single_product?goods_name={{ goods["goods_name"] }}&goods_id={{ goods["goods_id"] }}&goods_price={{ goods["goods_price"] }}">{{ goods["goods_name"] }}</a>
                      </td>
                      <td class="h5"> £ {{ goods["goods_price"] }}</td>
{#                      <td class="h5"> {{ goods["menu"] }}</td>#}

                      <td class="h5">
                          <a class="" href="/single_order?goods_id={{  goods["goods_id"] }}" style="text-decoration: underline">
                              &nbsp;查看订单
                          </a>

                      </td>

                    </tr>
                    <tr >
                        <td  id="{{goods["goods_id"] }}_order" align="center" colspan="4"  style="display: none">
{#                        显示记得通过获取 = "" 而不是 none    a.style.display = ""#}
                            <p>你好沉甸甸的多多多多多多多多多多多曾多次到成都市场的擦拭</p>
                            <p>123</p>
                            <p>cdcdsccd</p>
                            <p>cdcdgghggggggggggggggggggggg</p>

                        </td>
                    </tr>
                  {% end %}

                </tbody>
                </table>
              </div>

{#                <span style="display: inline-block; height: 20px; width: 80px; background-color: red; font-size: 12px "> 点击查看订单 </span>#}

                <ul class="pag pag-light justify-content-center">


                {# 上一页 #}
                {% if page_info["current_page"] - 1 > 0 %}
                    <li class="pag-item ">
                       <a class="pag-link pag-link-prev" href="/my_items?page={{ subtract(page_info["current_page"], 1) }}">
                           <span class="pag-icon mdi-chevron-left novi-icon"></span>
                           <span>Prev</span>
                       </a>
                    </li>
                {% elif page_info["current_page"] - 1 == 0 %}
                    <li class="pag-item disabled">
                       <a class="pag-link pag-link-prev" href="/my_items?page={{ subtract(page_info["current_page"], 1) }}">
                           <span class="pag-icon mdi-chevron-left novi-icon"></span>
                           <span>Prev</span>
                       </a>
                    </li>
                {% end %}


                {#  Page part #}
{#                {% if page_info["total_page"] > 5 %}#}
                    {% if page_info["current_page"] - 2 >= 0 %}
                        {% if page_info["current_page"] + 1  == page_info["total_page"]  %}
                            {% if subtract(page_info["current_page"], 3) > 0 %}
                                <li class="pag-item ">
                                   <a class="pag-link" href="/my_items?page={{ subtract(page_info["current_page"], 3) }}">
                                       {{ subtract(page_info["current_page"], 3) }}
                                   </a>
                                </li>
                            {% end %}

                        {% elif page_info["current_page"]  == page_info["total_page"] %}
                            {% if subtract(page_info["current_page"], 4) > 0 %}
                                <li class="pag-item ">
                                   <a class="pag-link" href="/my_items?page={{ subtract(page_info["current_page"], 4) }}">
                                       {{ subtract(page_info["current_page"], 4) }}
                                   </a>
                                </li>
                            {% end %}
                            {% if subtract(page_info["current_page"], 3) > 0 %}
                                <li class="pag-item ">
                                    <a class="pag-link" href="/my_items?page={{ subtract(page_info["current_page"], 3) }}">
                                        {{ subtract(page_info["current_page"], 3) }}
                                    </a>
                                 </li>
                            {% end %}

                        {% end %}

                        {% if page_info["current_page"] > 2 %}
                            <li class="pag-item ">
                               <a class="pag-link" href="/my_items?page={{ subtract(page_info["current_page"], 2) }}">
                                   {{ subtract(page_info["current_page"], 2) }}
                               </a>
                            </li>
                        {% end %}

                        <li class="pag-item ">
                           <a class="pag-link" href="/my_items?page={{ subtract(page_info["current_page"], 1) }}">
                               {{ subtract(page_info["current_page"], 1) }}
                           </a>
                        </li>

                    {% end %}

                    <li class="pag-item active">
                        <a class="pag-link" href="/my_items?page={{ page_info["current_page"] }}">{{ page_info["current_page"] }}</a>
                    </li>

                    {% if page_info["current_page"] + 2  <= page_info["total_page"] %}
                        <li class="pag-item ">
                            <a class="pag-link" href="/my_items?page={{ add(page_info["current_page"], 1) }}">
                                {{ add(page_info["current_page"], 1) }}
                            </a>
                        </li>

                        <li class="pag-item ">
                            <a class="pag-link" href="/my_items?page={{ add(page_info["current_page"], 2) }}">
                                {{ add(page_info["current_page"], 2) }}
                            </a>
                        </li>

                    {% elif page_info["current_page"] + 1  <= page_info["total_page"] %}
                        <li class="pag-item ">
                            <a class="pag-link" href="/my_items?page={{ add(page_info["current_page"], 1) }}">
                                {{ add(page_info["current_page"], 1) }}
                            </a>
                        </li>


                    {% end %}

                    {#  前面没有页数可显示, 所以用大的页数 #}
                    {% if page_info["current_page"] < 3 %}
                        {% if page_info["total_page"] >=  add(page_info["current_page"], 3)  %}
                            <li class="pag-item ">
                                <a class="pag-link" href="/my_items?page={{ add(page_info["current_page"], 3) }}">
                                    {{ add(page_info["current_page"], 3) }}
                                </a>
                            </li>
                        {% end %}

                        {% if page_info["current_page"] < 2 %}
                            {% if page_info["total_page"] >=  add(page_info["current_page"], 4)  %}
                                <li class="pag-item ">
                                    <a class="pag-link" href="/my_items?page={{ add(page_info["current_page"], 4) }}">
                                        {{ add(page_info["current_page"], 4) }}
                                    </a>
                                </li>
                            {% end %}
                        {% end %}

                    {% end %}

{#                {% end %}#}

                {# 下一页 #}
                {% if page_info["total_page"] - page_info["current_page"] > 0 %}
                    <li class="pag-item">
                        <a class="pag-link pag-link-next" href="/my_items?page={{ add(page_info["current_page"], 1) }}">
                            <span>Next</span>
                            <span class="pag-icon mdi-chevron-right novi-icon"></span>
                        </a>
                    </li>
                {% elif page_info["total_page"] - page_info["current_page"] == 0 %}
                    <li class="pag-item disabled">
                        <a class="pag-link pag-link-next" href="/my_items?page={{ add(page_info["current_page"], 1) }}">
                            <span>Next</span>
                            <span class="pag-icon mdi-chevron-right novi-icon"></span>
                        </a>
                    </li>

                {% end %}

{#                最后一页#}
                {% if  page_info["total_page"]  > 5%}
                    {% if page_info["total_page"] == page_info["current_page"]  %}
                        <li class="pag-item disabled">
                    {% else %}
                         <li class="pag-item">
                            <a class="pag-link pag-link-end" href="/my_items?page={{ page_info["total_page"] }}">
                                <span>Last</span>
                                <span class="pag-icon mdi-chevron-double-right novi-icon"></span>
                            </a>
                        </li>
                    {% end %}
                {% end %}

                </ul>

            </div>
            <div class="tab-pane fade" id="navLine3-2" role="tabpanel">
                <div class="table-responsive">

                    <h5 style="color: #26455561; font-weight: 500">
                        <span class="list-icon onclinic-quote" style=""></span> 用户自定义物品上传 (暂未开放)
                    </h5>
                    <p style="color: #26455561; font-size: 0.88rem;">
                        <span style="display: inline-block; ">任意问题可咨询: </span>
                         <a class="link " href="mailto:#" style="font-size: 0.98rem;">Shop@12dms.com</a>
                         或 <a class="link " href="/feedback" style="font-size: 0.88rem;">扫码进群</a> 反馈
                    </p>

                    <table class="table table-1" style="margin-top: 2%">
                  <thead  >
                  <tr >
                    <th style="font-weight: 600;">STATUS</th>
                    <th style=" font-weight: 600; text-align: left;">物品图</th>
                    <th style="font-weight: 600; text-align: left;">物品名称</th>
                    <th style="font-weight: 600;">物品类型</th>

                    </tr>
                  </thead>
                    <tbody>


                    <tr>
                      <td>
                        <span class="list-icon onclinic-minus"></span>


                      </td>
                      <td>
                        <div style="width: 80px">
{#                            <a href="#navLine3-2">#}
                                <img src="/static/images/shop/image_null.jpg" alt="" width="80" height="80">
{#                            </a>#}
                        </div>
                      </td>
                      <td style="text-align: left;">

                          <a class="link link-inherit" href="#navLine3-2"> 自定义物品 A (示例名称)</a>
                      </td>
                      <td class="h5"> 其它 </td>
                    </tr>


                </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        </div>

      </section>




    <section class="footer footer-dark context-dark bg-800" style="margin-top: 10%">
        <div class="container">
            <div class="row row-30">
                <div class="col-sm-6 col-lg-3">
                    <!-- Logo-->
                    <div class="logo">
                        <a class="logo-link" href="/">
{#                            <img class="logo-image-default" src="/static/images/meowfile.png" alt="Airy" width="146" height="36">#}
                            <img class="logo-image-inverse" src="/static/images/meowshop.png" alt="Meow Shop" width="146" height="36">
                        </a>
                    </div>
                    <p>Meow Shop is a full-featured mall, including background management, payment, order viewing, etc. </p>
                    <div class="social group-20">
{#                        <a class="social-icon icon icon-md icon-link onclinic-instagram" href="#"></a>#}
                    </div>
            </div>

                <div class="col-sm-6 col-lg-3">
                    <h5 class="footer-title">Contacts</h5>
                    <ul class="list list-icons">
                        <li class="list-item">
                            <div class="list-icon onclinic-map-marker"></div>
                            ChaoYang, Beijing
                        </li>
                        <li class="list-item">
                            <div class="list-icon onclinic-phone"></div>
                            +8618310703270 &nbsp;
                            +8615600803270
                        </li>
                        <li class="list-item">
                            <div class="list-icon onclinic-email-open"></div>
                            topaz1668@gmail.com
                        </li>

                    </ul>

                </div>

                <div class="col-sm-6 col-lg-3">
                    <h5 class="footer-title">Useful Links</h5>
                    <ul class="list list-sm">
                      <li class="list-item"><a href="https://topaz1618.github.io/about/">About</a></li>
                      <li class="list-item"><a href="https://topaz1618.github.io/projects/">Projects</a></li>
                      <li class="list-item"><a href="https://topaz1618.github.io/blog/">Blog</a></li>
                    </ul>
                </div>



            </div>
        </div>
    </section>


        <footer class="footer footer-minimal context-dark bg-900">
        <div class="container">
                <!-- Copyright-->
                <p class="rights">Copyright &copy; 2020.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
        </div>
      </footer>
    </div>
    <!-- Preloader-->
    <div class="preloader">
      <div class="preloader-inner">
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
      </div>
    </div>
  </body>
</html>

<script src="/static/components/base/core.min.js"></script>
<script src="/static/components/base/script.js"></script>

<script type="text/javascript">
    var shop_header = document.getElementById("shop_header");
    var shop_title = document.getElementById("shop_title");
    var filter_all = document.getElementById("All");
    var all_typ_list = document.getElementsByName("cartFilter1");

    function CheckedFilter() {
        var filter_str = window.location.href.split("filter=");
        if (filter_str.length > 1){
            var filter_list = filter_str[1].split("+");
            console.log(filter_list);
            for (let i = 0; i in filter_list; i++){
                console.log(filter_list[i]);
                document.getElementById(filter_list[i]).checked = true
            }
        }
    }


    function DestoryOtherFilter() {
        console.log("!!!! DestoryOtherFilter");

        for (let i in all_typ_list){
            if (all_typ_list[i].checked){
                all_typ_list[i].checked = false;
            }
        }

        var uri = "&filter=" + filter_all.id;    // Todo: 拼接 uri
        var url = window.location.href;
        if (url.indexOf("?") == "-1"){
            url = url + "?";
        }
        var addr = url.split("&filter")[0] + uri;
        window.location.href = addr;

    }

    function FilterProduct() {
        var checked_id;
        var addr = "";
        var sort_by = "";

        for (let i=0; i in all_typ_list; i++){
            if (all_typ_list[i].checked){
                checked_id  = "filter=" + all_typ_list[i].id
            }
        }

        var current_url = window.location.href.split("?");
        console.log(current_url);
        var current_host = current_url[0];
        var uri_str = current_url[1];

        if (uri_str != undefined){
            var uri_list = uri_str.split("&");
            for (let num=0; num in uri_list; num++){
                if (uri_list[num].startsWith("sort")){
                    sort_by = uri_list[num];
                }
            }
        }

        if (sort_by.length == 0){
            addr = current_host + "?" + checked_id;
        }else{
            addr = current_host + "?" + sort_by + "&" + checked_id
        }

        window.location.href = addr;
        console.log("!!!", addr);
    }

    function SortProduct() {
        var sort_selecter = document.getElementById("select_sort").value;
        var current_page = document.getElementsByClassName("pag-item active")[0].innerText;
        var addr;
        if (sort_selecter){
            var current_url = window.location.href.split("?");
            console.log(current_url);
            var filter = "";
            var current_host = current_url[0];
            var uri_str = current_url[1];

            if (uri_str != undefined){
                var uri_list = uri_str.split("&");
                for (let num=0; num in uri_list; num++){
                    if (uri_list[num].startsWith("filter")){
                        filter = uri_list[num];
                    }
                }
            }

            if (filter.length == 0){
                addr = current_host + "?" + "sort=" + sort_selecter;
            }else{
                addr = current_host + "?" + "sort=" + sort_selecter + "&" + filter
            }

            {#var addr = "http://" + window.location.host + "/store_catalog?page=" + current_page + "&sort=" + sort_selecter;#}
            console.log("!! Addr", addr);
            window.location.href = addr;

        }
    }

    function MyHeart(goods_id) {
        console.log("product id", goods_id);
        const formData = new FormData();
        formData.append("goods_id", goods_id);

        $.ajax({
            url: "/add_myheart",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                var error_code = response["error_code"];
                if (error_code == "1000"){
                    alert("收藏成功");
                    // Todo: 如果不足三个手动加上去
                    {#window.location.reload();#}
                    return;
                }
                else if(error_code == "7006"){
                    alert("已收藏");
                }
            }
        });
    }

    function DeleteMyHeart(goods_id) {
        console.log("product id", goods_id);
        const formData = new FormData();
        formData.append("goods_id", goods_id);

        $.ajax({
            url: "/delete_myheart",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                var error_code = response["error_code"];
                if (error_code == "1000"){
                    alert("取消收藏成功");
                    window.location.reload()
                    return;
                }
                else if(error_code == "7007"){
                    alert("收藏项不存在");
                }
            }
        });


    }

    function ShowTag(goods_id) {
        var tag_id = goods_id + "_tag";
        var tag_el = document.getElementById(tag_id);
        tag_el.style.display =  "";

        setTimeout(function () {
            tag_el.style.display =  "none";
        }, 600);


    }




    // For listen Page width change
    var option = {
        attributes: true,
        attributeFilter: ['class']
    };

    var mutationObserver = new MutationObserver(function (mutations) {
        if (shop_header.className.indexOf('rd-navbar-fixed') != -1){
            shop_title.style.display = "None";
        }else{
            shop_title.style.display = "Block";
        }
    });

    mutationObserver.observe(shop_header, option);
    CheckedFilter();
</script>
