<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Meow Shop</title>
    {#    <meta charset="utf-8">#}

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="Template Monster Admin Template">
    <meta property="og:description"
          content="brevis, barbatus clabulares aliquando convertam de dexter, peritus capio. devatio clemens habitio est.">
    <link rel="stylesheet" href="/static/components/base/base.css">
    <style>
        .btn.topaz {
        {#border-top-left-radius: 20px !important;#} border-top-right-radius: 60px;
            border-bottom-right-radius: 60px;
            border-bottom-left-radius: 60px;
        }

        .btn.topaz:hover {
        {#background-color: #264555;#}{#color: #1c54e2;#}
        }

        .custom-control-text.topaz_text {
            color: #264555
        }

        .link-inherit.topaz_link:hover {
            color: #6c757d;
        }


    </style>
</head>
<body>
<div class="page">
    <!--RD Navbar-->

    <header class="section rd-navbar-wrap rd-navbar-wrap-transparent">
        <nav id="shop_header" class="rd-navbar rd-navbar-solid rd-navbar-transparent"
             data-rd-navbar='{"responsive":{"1200":{"stickUpOffset":"164px"}}}'>
            <div class="navbar-section navbar-non-stuck">
                <div class="navbar-panel">
                    <button class="navbar-switch mdi-menu novi-icon"
                            data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","isolate":"[data-multi-switch]"}'></button>
                    <div class="navbar-logo">
                        <a class="navbar-navigation-root-link" href="/backend"
                           style="width: 160%; font-size: 22px; font-weight: 500; margin-top: -4%;"> Shop 后台管理 </a>
                    </div>
                </div>
                <div class="navbar-container">
                    <div class="navbar-cell flex-grow-1">
                        <div class="navbar-info">
                            <div class="list list-icons-2">
                                <div class="list-item">
                                    <li class="navbar-navigation-root-item">
                                        <a id="shop_title" class="navbar-navigation-root-link" href="/backend"
                                           style="font-size: 28px; font-weight: 500;"> Shop 后台管理 </a>
                                    </li>
                                </div>
                            </div>
                            <div class="navbar-logo navbar-fullwidth-logo">
                                <a class="navbar-logo-link" href="index.html">
                                </a>
                            </div>
                            <div class="text-block text-block-2 d-md-flex align-items-center justify-content-center">
                                <div class="list list-icons-2">
                                    <div class="list-item">
                                        <a class="navbar-navigation-root-link" style="display: inline-block; " href="/user_info">
                                            <span id="username" class="mdi-account" style="display: inline-block"> {{ username }} </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="navbar-cell">
                        <div class="navbar-subpanel">
                            <div class="navbar-subpanel-item">
                                <button class="navbar-button navbar-info-button mdi-dots-vertical novi-icon"
                                        data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","class":"navbar-info-active","isolate":"[data-multi-switch]"}'></button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-section">
                <div class="navbar-container navbar-sidebar" style="margin-top: 1%">
                    <div class="navbar-cell flex-grow-1" style="border-bottom: 1px solid #dde0e9;">
                        <ul class="navbar-navigation rd-navbar-nav" style="margin-left: 58px">
                            <li class="navbar-navigation-root-item active" style="margin-left: -58px;">
                                <a class="navbar-navigation-root-link" style="display: inline-block; " href="/backend">
                                    <span class="product-btn btn topaz btn-icon mdi-shopping"
                                          style="display: inline-block; border: 1px solid white;"> Home </span>
                                </a>
                            </li>
                            <li class="navbar-navigation-root-item" style="margin-left: -58px;">
                                <a class="navbar-navigation-root-link" style="display: inline-block; "
                                   href="/menu_items">
                                    <span class="product-btn btn topaz btn-icon mdi-menu"
                                          style="display: inline-block; border: 1px solid white;">  目录管理</span>
                                </a>
                            </li>

                            <li class="navbar-navigation-root-item rd-navbar--has-dropdown rd-navbar-submenu" style="margin-left: -58px;">
                                <a class="navbar-navigation-root-link" style="display: inline-block; " href="/status">
                                    <span class="product-btn btn topaz btn-icon mdi-account-box"  style="display: inline-block; border: 1px solid white;"> 用户管理 </span>
                                </a><span class="rd-navbar-submenu-toggle"></span>
                                <ul class="navbar-navigation-dropdown rd-navbar-dropdown">
                                    <li class="navbar-navigation-back">
                                        <button class="navbar-navigation-back-btn">Back</button>
                                    </li>
                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/renewal_member">
                                            <span class=" mdi-cake" style="display: inline-block; "> Shop 高级会员申请  </span>
                                        </a>

                                    </li>

                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/status">
                                            <span class=" mdi-account-star" style="display: inline-block; "> 用户注册 & 访问状态  </span>
                                        </a>
                                    </li>

                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/add_internal_user">
                                            <span class=" mdi-account-plus" style="display: inline-block; "> 新增内部测试账号  </span>
                                        </a>
                                    </li>
                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/internal_users">
                                            <span class="mdi-clipboard-account" style="display: inline-block; "> 测试账号列表  </span>
                                        </a>
{#                                        <a class="navbar-navigation-dropdown-link" href="/manager_resources">内部测试用户查看</a>#}
                                    </li>
                                </ul>
                            </li>

                            <li class="navbar-navigation-root-item rd-navbar--has-dropdown rd-navbar-submenu" style="margin-left: -58px;">
                                <a class="navbar-navigation-root-link" style="display: inline-block; " href="/goods_list">
                                    <span class="product-btn btn topaz btn-icon mdi-cart"  style="display: inline-block; border: 1px solid white;"> 商品管理 </span>
                                </a><span class="rd-navbar-submenu-toggle"></span>
                                <ul class="navbar-navigation-dropdown rd-navbar-dropdown">
                                    <li class="navbar-navigation-back">
                                        <button class="navbar-navigation-back-btn">Back</button>
                                    </li>


                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/create_goods">
                                            <span class="mdi-playlist-plus" style="display: inline-block; "> Shop 商品新建  </span>
                                        </a>

                                    </li>

                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/update_goods">
                                            <span class="mdi-auto-upload" style="display: inline-block; "> 修改商品信息 </span>
                                        </a>
                                    </li>

                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/goods_list">
                                            <span class="mdi-cart-outline" style="display: inline-block; "> 所有商品列表 </span>
                                        </a>
                                    </li>

                                </ul>
                            </li>


                            <li class="navbar-navigation-root-item" style="margin-left: -58px;">
                                <a class="navbar-navigation-root-link" style="display: inline-block; "
                                   href="/view_orders">
                                    <span class="product-btn btn topaz btn-icon mdi-book"
                                          style="display: inline-block;  border: 1px solid white;"> 所有订单 </span>
                                </a>
                            </li>

                            <li class="navbar-navigation-root-item rd-navbar--has-dropdown rd-navbar-submenu"
                                style="margin-left: -58px;">
                                <a class="navbar-navigation-root-link" style="display: inline-block; " href="/backend">
                                    <span class="product-btn btn topaz btn-icon mdi-note-outline"
                                          style="display: inline-block; border: 1px solid white;"> 资源管理 </span>
                                </a><span class="rd-navbar-submenu-toggle"></span>
                                <ul class="navbar-navigation-dropdown rd-navbar-dropdown">
                                    <li class="navbar-navigation-back">
                                        <button class="navbar-navigation-back-btn">Back</button>
                                    </li>
                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/create_guide">新建资源</a>
                                    </li>

                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/modify_resources">修改资源</a>
                                    </li>

                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/manager_resources">资源批量管理</a>
                                    </li>
                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/zip_list">压缩包资源列表</a>
                                    </li>
                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/feature_list">功能资源列表</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </nav>
    </header>

    <section class="section section-md  text-center">
        <div class="container">
            <div class="text-block" style="border-bottom: 1px solid white; max-width: 92%; margin-left: 4%;">
                <div class="title-1"><a class="link link-inherit topaz_link" href="#">Meow Shop</a></div>
                <h2> 测试用户创建 & 访问状态 </h2>
            </div>

            <div class="container tab">


                <div class="tab-content" style="width: 98%; margin-left: 1%; margin-top: -3.5%;">
                    <div class="tab-pane fade active show" id="navLine3-1" role="tabpanel">

                        <div class="product-search-results" style="float: right; margin-bottom: 1%; opacity: .5;">
                            Showing {{ page_info["start"] + 1 }}-{{ page_info["end"] }} of {{ page_info["total_data"] }}
                            results
                        </div>

                        <div class="table-responsive">
                            <table class="table ">
                                <thead>
                                <tr>
                                    <th style="font-weight: 600;">用户名</th>
                                    <th style="font-weight: 600; min-width: 160px">次数记录</th>
                                    <th style="font-weight: 600;">上次访问时间</th>
                                    <th style="font-weight: 600;">注册时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user_info in data %}
                                <tr id="{{ user_info["user"] }}" style="line-height: 0;">

                                    <td>{{ user_info["user"] }}</td>
                                    <td>{{ user_info["access_count"] }}</td>
                                    <td style="min-width: 280px; width: 16%;">{{ user_info["last_access_time"] }}</td>
                                    <td style="min-width: 220px; width: 12%;"> {{ user_info["register_time"] }} </td>

                                </tr>
                                {% end %}

                                </tbody>
                            </table>
                        </div>
                        <ul class="pag pag-light justify-content-center">


                            {# 上一页 #}
                            {% if page_info["current_page"] - 1 > 0 %}
                            <li class="pag-item ">
                                <a class="pag-link pag-link-prev"
                                   href="/internal_users?page={{ subtract(page_info["current_page"], 1) }}">
                                    <span class="pag-icon mdi-chevron-left novi-icon"></span>
                                    <span>Prev</span>
                                </a>
                            </li>
                            {% elif page_info["current_page"] - 1 == 0 %}
                            <li class="pag-item disabled">
                                <a class="pag-link pag-link-prev"
                                   href="/internal_users?page={{ subtract(page_info["current_page"], 1) }}">
                                    <span class="pag-icon mdi-chevron-left novi-icon"></span>
                                    <span>Prev</span>
                                </a>
                            </li>
                            {% end %}


                            {#  Page part #}
                            {#                {% if page_info["total_page"] > 5 %}#}
                            {% if page_info["current_page"] - 2 >= 0 %}
                            {% if page_info["current_page"] + 1  == page_info["total_page"] %}
                            {% if subtract(page_info["current_page"], 3) > 0 %}
                            <li class="pag-item ">
                                <a class="pag-link" href="/internal_users?page={{ subtract(page_info["current_page"], 3) }}">
                                    {{ subtract(page_info["current_page"], 3) }}
                                </a>
                            </li>
                            {% end %}

                            {% elif page_info["current_page"]  == page_info["total_page"] %}
                            {% if subtract(page_info["current_page"], 4) > 0 %}
                            <li class="pag-item ">
                                <a class="pag-link" href="/internal_users?page={{ subtract(page_info["current_page"], 4) }}">
                                    {{ subtract(page_info["current_page"], 4) }}
                                </a>
                            </li>
                            {% end %}
                            {% if subtract(page_info["current_page"], 3) > 0 %}
                            <li class="pag-item ">
                                <a class="pag-link" href="/internal_users?page={{ subtract(page_info["current_page"], 3) }}">
                                    {{ subtract(page_info["current_page"], 3) }}
                                </a>
                            </li>
                            {% end %}

                            {% end %}

                            {% if page_info["current_page"] > 2 %}
                            <li class="pag-item ">
                                <a class="pag-link" href="/internal_users?page={{ subtract(page_info["current_page"], 2) }}">
                                    {{ subtract(page_info["current_page"], 2) }}
                                </a>
                            </li>
                            {% end %}

                            <li class="pag-item ">
                                <a class="pag-link" href="/internal_users?page={{ subtract(page_info["current_page"], 1) }}">
                                    {{ subtract(page_info["current_page"], 1) }}
                                </a>
                            </li>

                            {% end %}

                            <li class="pag-item active">
                                <a class="pag-link"
                                   href="/internal_users?page={{ page_info["current_page"] }}">{{ page_info["current_page"] }}</a>
                            </li>

                            {% if page_info["current_page"] + 2  <= page_info["total_page"] %}
                            <li class="pag-item ">
                                <a class="pag-link" href="/internal_users?page={{ add(page_info["current_page"], 1) }}">
                                    {{ add(page_info["current_page"], 1) }}
                                </a>
                            </li>

                            <li class="pag-item ">
                                <a class="pag-link" href="/internal_users?page={{ add(page_info["current_page"], 2) }}">
                                    {{ add(page_info["current_page"], 2) }}
                                </a>
                            </li>

                            {% elif page_info["current_page"] + 1  <= page_info["total_page"] %}
                            <li class="pag-item ">
                                <a class="pag-link" href="/internal_users?page={{ add(page_info["current_page"], 1) }}">
                                    {{ add(page_info["current_page"], 1) }}
                                </a>
                            </li>


                            {% end %}

                            {#  前面没有页数可显示, 所以用大的页数 #}
                            {% if page_info["current_page"] < 3 %}
                            {% if page_info["total_page"] >=  add(page_info["current_page"], 3) %}
                            <li class="pag-item ">
                                <a class="pag-link" href="/internal_users?page={{ add(page_info["current_page"], 3) }}">
                                    {{ add(page_info["current_page"], 3) }}
                                </a>
                            </li>
                            {% end %}

                            {% if page_info["current_page"] < 2 %}
                            {% if page_info["total_page"] >=  add(page_info["current_page"], 4) %}
                            <li class="pag-item ">
                                <a class="pag-link" href="/internal_users?page={{ add(page_info["current_page"], 4) }}">
                                    {{ add(page_info["current_page"], 4) }}
                                </a>
                            </li>
                            {% end %}
                            {% end %}

                            {% end %}

                            {#                {% end %}#}

                            {# 下一页 #}
                            {% if page_info["total_page"] - page_info["current_page"] > 0 %}
                            <li class="pag-item">
                                <a class="pag-link pag-link-next"
                                   href="/internal_users?page={{ add(page_info["current_page"], 1) }}">
                                    <span>Next</span>
                                    <span class="pag-icon mdi-chevron-right novi-icon"></span>
                                </a>
                            </li>
                            {% elif page_info["total_page"] - page_info["current_page"] == 0 %}
                            <li class="pag-item disabled">
                                <a class="pag-link pag-link-next"
                                   href="/internal_users?page={{ add(page_info["current_page"], 1) }}">
                                    <span>Next</span>
                                    <span class="pag-icon mdi-chevron-right novi-icon"></span>
                                </a>
                            </li>

                            {% end %}

                            {#                最后一页#}
                            {% if page_info["total_page"] > 5 %}
                            {% if page_info["total_page"] == page_info["current_page"] %}
                            <li class="pag-item disabled">
                                {% else %}
                            <li class="pag-item">
                                <a class="pag-link pag-link-end" href="/internal_users?page={{ page_info["total_page"] }}">
                                    <span>Last</span>
                                    <span class="pag-icon mdi-chevron-double-right novi-icon"></span>
                                </a>
                            </li>
                            {% end %}
                            {% end %}

                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </section>

    <section class="footer footer-dark context-dark bg-800" style="margin-top: 10%">
        <div class="container">
            <div class="row row-30">
                <div class="col-sm-6 col-lg-3">
                    <!-- Logo-->
                    <div class="logo">
                        <a class="logo-link" href="/">
{#                            <img class="logo-image-default" src="/static/images/meowfile.png" alt="Airy" width="146" height="36">#}
                            <img class="logo-image-inverse" src="/static/images/meowshop.png" alt="Meow Shop" width="146" height="36">
                        </a>
                    </div>
                    <p>Meow Shop is a full-featured mall, including background management, payment, order viewing, etc. </p>
                    <div class="social group-20">
{#                        <a class="social-icon icon icon-md icon-link onclinic-instagram" href="#"></a>#}
                    </div>
            </div>

                <div class="col-sm-6 col-lg-3">
                    <h5 class="footer-title">Contacts</h5>
                    <ul class="list list-icons">
                        <li class="list-item">
                            <div class="list-icon onclinic-map-marker"></div>
                            ChaoYang, Beijing
                        </li>
                        <li class="list-item">
                            <div class="list-icon onclinic-phone"></div>
                            +8618310703270 &nbsp;
                            +8615600803270
                        </li>
                        <li class="list-item">
                            <div class="list-icon onclinic-email-open"></div>
                            topaz1668@gmail.com
                        </li>

                    </ul>

                </div>

                <div class="col-sm-6 col-lg-3">
                    <h5 class="footer-title">Useful Links</h5>
                    <ul class="list list-sm">
                      <li class="list-item"><a href="https://topaz1618.github.io/about/">About</a></li>
                      <li class="list-item"><a href="https://topaz1618.github.io/projects/">Projects</a></li>
                      <li class="list-item"><a href="https://topaz1618.github.io/blog/">Blog</a></li>
                    </ul>
                </div>



            </div>
        </div>
    </section>

    <footer class="footer footer-minimal context-dark bg-900">
        <div class="container">
            <!-- Copyright-->
            <p class="rights">Copyright &copy; 2020.Company name All rights reserved.<a target="_blank"
                                                                                        href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
            </p>
        </div>
    </footer>
</div>
<!-- Preloader-->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
    </div>
</div>
</body>
</html>

<script src="/static/components/base/core.min.js"></script>
<script src="/static/components/base/script.js"></script>

<script type="text/javascript">
    var shop_header = document.getElementById("shop_header");
    var shop_title = document.getElementById("shop_title");
    var filter_all = document.getElementById("All");
    var all_typ_list = document.getElementsByName("cartFilter1");

    function CheckedFilter() {
        var filter_str = window.location.href.split("filter=");
        if (filter_str.length > 1) {
            var filter_list = filter_str[1].split("+");
            console.log(filter_list);
            for (let i = 0; i in filter_list; i++) {
                console.log(filter_list[i]);
                document.getElementById(filter_list[i]).checked = true
            }
        }
    }


    function DestoryOtherFilter() {
        console.log("!!!! DestoryOtherFilter");

        for (let i in all_typ_list) {
            if (all_typ_list[i].checked) {
                all_typ_list[i].checked = false;
            }
        }

        var uri = "&filter=" + filter_all.id;    // Todo: 拼接 uri
        var url = window.location.href;
        if (url.indexOf("?") == "-1") {
            url = url + "?";
        }
        var addr = url.split("&filter")[0] + uri;
        window.location.href = addr;

    }

    function FilterProduct() {
        var checked_id;
        var addr = "";
        var sort_by = "";

        for (let i = 0; i in all_typ_list; i++) {
            if (all_typ_list[i].checked) {
                checked_id = "filter=" + all_typ_list[i].id
            }
        }

        var current_url = window.location.href.split("?");
        console.log(current_url);
        var current_host = current_url[0];
        var uri_str = current_url[1];

        if (uri_str != undefined) {
            var uri_list = uri_str.split("&");
            for (let num = 0; num in uri_list; num++) {
                if (uri_list[num].startsWith("sort")) {
                    sort_by = uri_list[num];
                }
            }
        }

        if (sort_by.length == 0) {
            addr = current_host + "?" + checked_id;
        } else {
            addr = current_host + "?" + sort_by + "&" + checked_id
        }

        window.location.href = addr;
        console.log("!!!", addr);
    }

    function SortProduct() {
        var sort_selecter = document.getElementById("select_sort").value;
        var current_page = document.getElementsByClassName("pag-item active")[0].innerText;
        var addr;
        if (sort_selecter) {
            var current_url = window.location.href.split("?");
            console.log(current_url);
            var filter = "";
            var current_host = current_url[0];
            var uri_str = current_url[1];

            if (uri_str != undefined) {
                var uri_list = uri_str.split("&");
                for (let num = 0; num in uri_list; num++) {
                    if (uri_list[num].startsWith("filter")) {
                        filter = uri_list[num];
                    }
                }
            }

            if (filter.length == 0) {
                addr = current_host + "?" + "sort=" + sort_selecter;
            } else {
                addr = current_host + "?" + "sort=" + sort_selecter + "&" + filter
            }

            {#var addr = "http://" + window.location.host + "/store_catalog?page=" + current_page + "&sort=" + sort_selecter;#}
            console.log("!! Addr", addr);
            window.location.href = addr;

        }
    }

    function MyHeart(goods_id) {
        console.log("product id", goods_id);
        const formData = new FormData();
        formData.append("goods_id", goods_id);

        $.ajax({
            url: "/add_myheart",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                var error_code = response["error_code"];
                if (error_code == "1000") {
                    alert("收藏成功");
                    // Todo: 如果不足三个手动加上去
                    {#window.location.reload();#}
                    return;
                }
                else if (error_code == "7006") {
                    alert("已收藏");
                }
            }
        });
    }

    function DeleteMyHeart(goods_id) {
        console.log("product id", goods_id);
        const formData = new FormData();
        formData.append("goods_id", goods_id);

        $.ajax({
            url: "/delete_myheart",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                var error_code = response["error_code"];
                if (error_code == "1000") {
                    alert("取消收藏成功");
                    window.location.reload();
                    return;
                }
                else if (error_code == "7007") {
                    alert("收藏项不存在");
                }
            }
        });


    }


    // For listen Page width change
    var option = {
        attributes: true,
        attributeFilter: ['class']
    };

    var mutationObserver = new MutationObserver(function (mutations) {
        if (shop_header.className.indexOf('rd-navbar-fixed') != -1) {
            shop_title.style.display = "None";
        } else {
            shop_title.style.display = "Block";
        }
    });

    mutationObserver.observe(shop_header, option);
    CheckedFilter();
</script>
