<!DOCTYPE html>
<html lang="en">
<head>
    <title>Meow Shop</title>
{#    <meta charset="utf-8">#}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="Template Monster Admin Template">
    <meta property="og:description"
          content="brevis, barbatus clabulares aliquando convertam de dexter, peritus capio. devatio clemens habitio est.">
    <link rel="stylesheet" href="/static/components/base/base.css">
    <style>
        .btn.topaz {
            {#border-top-left-radius: 32px !important;#}
            border-top-right-radius: 60px;
            border-bottom-right-radius: 60px;
            border-bottom-left-radius: 60px;
        }
        .btn.topaz:hover {
            {#background-color: #1c54e2;#}
            {#color: #1c54e2;#}
        }

    </style>


</head>
<body>
<div class="page">
    <!--RD Navbar-->

    <header class="section rd-navbar-wrap rd-navbar-wrap-transparent">
        <nav id="shop_header" class="rd-navbar rd-navbar-solid rd-navbar-transparent"
             data-rd-navbar='{"responsive":{"1200":{"stickUpOffset":"164px"}}}'>
            <div class="navbar-section navbar-non-stuck">
                <div class="navbar-panel">
                    <button class="navbar-switch mdi-menu novi-icon"
                            data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","isolate":"[data-multi-switch]"}'></button>
                    <div class="navbar-logo">
                        <a class="navbar-navigation-root-link" href="/"
                           style="width: 160%; font-size: 22px; font-weight: 500; margin-top: -4%;"> Meow Shop </a>
                    </div>
                </div>
                <div class="navbar-container">
                    <div class="navbar-cell flex-grow-1">
                        <div class="navbar-info">
                            <div class="list list-icons-2">
                                <div class="list-item">
                                    <li class="navbar-navigation-root-item">
                                        <a id="shop_title" class="navbar-navigation-root-link" href="/"
                                           style="font-size: 28px; font-weight: 500;"> Meow Shop </a>
                                    </li>

                                </div>
                            </div>
                            <div class="navbar-logo navbar-fullwidth-logo">
                                <a class="navbar-logo-link" href="index.html">
                                </a>
                            </div>
                            <div class="text-block text-block-2 d-md-flex align-items-center justify-content-center">
                                <div class="list list-icons-2">
                                    <div class="list-item">
                         <a class="navbar-navigation-root-link" style="display: inline-block; " href="/user_info">
                              <span class="mdi-account" style="display: inline-block"> {{ username }}  </span>
                          </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="navbar-cell">
                        <div class="navbar-subpanel">
                            <div class="navbar-subpanel-item">
                                <button class="navbar-button navbar-info-button mdi-dots-vertical novi-icon"
                                        data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","class":"navbar-info-active","isolate":"[data-multi-switch]"}'></button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-section">
                <div class="navbar-container navbar-sidebar"  style="margin-top: 1%">
                    <div class="navbar-cell flex-grow-1" style="border-bottom: 1px solid #dde0e9;">
                        <ul class="navbar-navigation rd-navbar-nav" style="margin-left: 58px">
                            <li class="navbar-navigation-root-item active" style="margin-left: -58px;">
                                <a class="navbar-navigation-root-link" style="display: inline-block; " href="/">
                                    <span class="product-btn btn topaz btn-icon mdi-shopping"
                                          style="display: inline-block; border: 1px solid white;"> Home </span>
                                </a>
                            </li>
                            <li class="navbar-navigation-root-item" style="margin-left: -58px;">
                                <a class="navbar-navigation-root-link" style="display: inline-block; "
                                   href="/package_list">
                                    <span class="product-btn btn topaz btn-icon mdi-cake "
                                          style="display: inline-block; border: 1px solid white;"> 会员套餐 </span>
                                </a>
                            </li>
                            <li class="navbar-navigation-root-item" style="margin-left: -58px;">
                                <a class="navbar-navigation-root-link" style="display: inline-block; "
                                   href="/order_list">
                                    <span class="product-btn btn topaz btn-icon mdi-book"
                                          style="display: inline-block; border: 1px solid white;"> 订单列表 </span>
                                </a>
                            </li>
                            <li class="navbar-navigation-root-item" style="margin-left: -58px;">
                                <a class="navbar-navigation-root-link" style="display: inline-block; "
                                   href="/user_info">
                                    <span class="product-btn btn topaz btn-icon mdi-account"
                                          style="display: inline-block; border: 1px solid white;"> 会员信息 </span>
                                </a>
                            </li>
                            <li class="navbar-navigation-root-item rd-navbar--has-dropdown rd-navbar-submenu"
                                style="margin-left: -58px;">
                                <a class="navbar-navigation-root-link" style="display: inline-block; " href="/about_us">
                                    <span class="product-btn btn topaz btn-icon mdi-note-outline"
                                          style="display: inline-block; border: 1px solid white;"> 关于我们 </span>
                                </a><span class="rd-navbar-submenu-toggle"></span>
                                <ul class="navbar-navigation-dropdown rd-navbar-dropdown">
                                    <li class="navbar-navigation-back">
                                        <button class="navbar-navigation-back-btn">Back</button>
                                    </li>
                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/about_us">产品介绍</a>
                                    </li>
                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/feedback">问题反馈</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </nav>
    </header>


    <section class="section section-md bg-primary-lightest" style="">
        <div class="container">
            <div class="row justify-content-center text-center">

                    <div class="col-xl-11">
                        <div class="icon text-primary icon-xl linearicons-user"></div>
                        <div class="title-1 " > 用户 ID : {{ username }}</div>
                        <p></p>
                        <p></p>
                            <div class="title-1">充值时间: {{ data["recharge_time"] }}</div>
                        <p></p>
                            <div class="title-1">过期时间: {{ data["expire_time"] }}</div>
                      <div class="title-1"></div>

{#                      <div class="btn-group-1">#}
{#                          <a class="btn btn-lg btn-primary" href="/package_list">续费会员</a>#}
{#                      </div>#}

                        <div class="btn-group-1">
                          <a class="btn btn-lg btn-primary" href="/feedback">续费会员</a>
                      　</div>
                        <h5 style="color: #26455561; font-weight: 500; margin-top: 2.6%">
                            <span class="list-icon onclinic-quote" style=""></span>
                           　&nbsp; 点击续费会员按钮, 扫码加入 Shop 官方群, 免费领取高级会员
                        </h5>

                        <p style="color: #26455561; font-size: 0.88rem; margin-top: 0.6%">
                            <a class="link " href="/feedback" style="font-size: 0.88rem;"> 如有任意问题可咨询官方客服:&nbsp;&nbsp;
                                <a class="link " href="mailto:#" style="font-size: 0.98rem;">Shop@12dms.com</a>
                            </a>
                    　　　</p>

                    </div>

            </div>
        </div>
    </section>


    <section class="footer footer-dark context-dark bg-800" style="margin-top: 10%">
        <div class="container">
            <div class="row row-30">

                <div class="col-sm-6 col-lg-3">
                    <h5 class="footer-title">联系方式</h5>
                    <ul class="list list-icons">
                        <li class="list-item">
                            <div class="list-icon onclinic-map-marker"></div>
                            北京市朝阳区五里桥一街1号非中心5号楼四层十二维度
                        </li>
                        <li class="list-item">
                            <div class="list-icon onclinic-phone"></div>
                            010-85717789
                        </li>
                        <li class="list-item">
                            <div class="list-icon onclinic-email-open"></div>
                            market@12dms.com
                        </li>

                    </ul>

                </div>

            </div>
        </div>
    </section>
    <footer class="footer footer-minimal context-dark bg-900">
        <div class="container">
        </div>
    </footer>
</div>
<!-- Preloader-->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
    </div>
</div>

<div class="to-top mdi-chevron-up "></div>
</body>
</html>
<script src="/static/components/base/core.min.js"></script>
<script src="/static/components/base/script.js"></script>
<script type="text/javascript">
    var shop_header = document.getElementById("shop_header");
    var shop_title = document.getElementById("shop_title");
    {#var shop_phone = document.getElementById("shop_phone");#}
    var option = {
        attributes: true,
        attributeFilter: ['class']
    };

    var mutationObserver = new MutationObserver(function (mutations) {
        if (shop_header.className.indexOf('rd-navbar-fixed') != -1){
            shop_title.style.display = "None";
            {#shop_phone.style.display = "Block";#}
        }else{
            shop_title.style.display = "Block";
            {#shop_phone.style.display = "None";#}

        }
    });

    mutationObserver.observe(shop_header, option)

</script>
