<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Shop </title>

    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/modern-business.css" rel="stylesheet">

    <style type="text/css">
        li:hover{
            color: cornflowerblue;
        }

    </style>

</head>
{#background-image: url('static/images/a.png'); background-size: 100% 100%;#}
<body style="">


<div style="margin-top: -56px; height: 70px; position: fixed; z-index: 199; width: 100%;">
    <div class="card-header" style="height: 70px; background-color: white;  ">
        <div class="collapse navbar-collapse" id="navbarResponsive">
        </div>

        <ul class="navbar-nav ml-auto">
            <li class="breadcrumb-item active" style="width: 300px; display: inline; margin-top: 5px;">
                <h1 class="mt-4 mb-3" style="display: inline; "> Shop</h1>
                <small style="display: inline; font-size: 22px;">后台管理</small>
            </li>

            <li class="nav-item dropdown"
                style="width: 50px; margin-left: 90%; display: inline; margin-top: -35px; color: #6c757d">

                <a class="dropdown-item" style="background: none; width: 150px; color: #6c757d; font-size: 20px; text-decoration: underline" href="/backend">回到上级</a>

            </li>
        </ul>
    </div>

</div>


    <div class="container">
        <div class="row" style="margin-top: 60px;">
            <div class="col-lg-4 mb-4">
                <div class="card h-100" style="width: 1110px; height: 280px">
                    <h4 class="card-header" style="background-color: white; color: #4285f4;"> 新建二级分类 </h4>
                    <div class="card-body" style="height: 160px">
                        <div class="panel panel-success" style="width:900px; height:80px; color: #545454;">
                            <div style="margin-top: 18px;margin-bottom: 20px;">
                            <span style="margin-left: 20px; display: inline-block; width: 106px;"> 所属主类型: </span>
                                <label style="margin-left: 12px"> <input type="radio" name="MainType" value="1">角色</label>
                                <label style="margin-left: 10px"> <input type="radio" name="MainType" value="2">场景</label>
                                <label style="margin-left: 12px"> <input type="radio" name="MainType" value="3">动作</label>
                                <label style="margin-left: 10px"> <input type="radio" name="MainType" value="4">镜头</label>
                                <label style="margin-left: 10px"> <input type="radio" name="MainType" value="5">衣服</label>
                                <label style="margin-left: 10px"> <input type="radio" name="MainType" value="6">其它</label>
                            </div>
                            <p></p>
                            <span style="margin-left: 20px; display: inline-block; width: 139px;"> 新建二级菜单名称: </span>
                            <input style="margin-left: 11px; width: 365px; height: 30px; color: #545454" type="text" id="type_name" value=""/>

                            <p></p>
                            <div style="padding-left: 15px;">

                            </div>

                        </div>
                    </div>
                    <div class="card-footer" style="height: 60px; line-height: normal; background-color: white;  font-size: 12px; color: #006621;">
                            <input class="btn btn-primary" style="margin-left: 92%; background-color: white;  color: #4285f4; " id="zip_upload"
                                   type='submit' value='添加' onclick="CreateNewType()"/>

                    </div>
                    </div>
                </div>
         </div>

        <div class="row" style="margin-top: 30px;">
            <div class="col-lg-4 mb-4">
                <div class="card h-100" style="width: 1110px; height: 280px">
                    <h4 class="card-header" style="background-color: white; color: #4285f4;"> 删除二级菜单 </h4>
                    <div class="card-body" style="height: 260px">
                        <div class="panel panel-success" style="width:900px; height:80px; color: #545454;">
                            <span style="margin-left: 20px; display: inline-block; width: 126px;"> 选择所属主菜单: </span>
                            <label onclick="GetType('1', true, false)" style="margin-left: 12px"> <input type="radio" name="MainType2" value="1">角色</label>
                            <label onclick="GetType('2', true, false)" style="margin-left: 10px"> <input type="radio" name="MainType2" value="2">场景</label>
                            <label onclick="GetType('3', true, false)" style="margin-left: 12px"> <input type="radio" name="MainType2" value="3">动作</label>
                            <label onclick="GetType('4', true, false)" style="margin-left: 10px"> <input type="radio" name="MainType2" value="4">镜头</label>
                            <label onclick="GetType('5', true, false)" style="margin-left: 10px"> <input type="radio" name="MainType2" value="5">衣服</label>
                            <label onclick="GetType('6', true, false)" style="margin-left: 10px"> <input type="radio" name="MainType2" value="6">其它</label>
                            <div style="border-top: rgba(0, 0, 0, .125); border-width: 1px; border-top-style: inset; white-space: nowrap; margin-top:20px; max-height: 160px; overflow-y: auto; margin-left: 108px;">
                                <ul id="zip" style="list-style: none;">
                                    {#
                                    <li style="margin-top: 10px; margin-bottom: -5px;" >
                                        <label style="">
                                            <input type="radio" style="margin-left: -25px; " name="applicationSystem" value="1">
                                            <span style="margin-left: 6px">123123123123123</span>
                                        </label>
                                    </li>
                                    #}
                                </ul>
                            </div>

                            <p></p>
                            <div style="padding-left: 15px;">

                            </div>

                        </div>
                    </div>
                    <div class="card-footer" style="height: 60px; line-height: normal; background-color: white;  font-size: 12px; color: #006621;">
                            <input class="btn btn-primary" style="margin-left: 92%; background-color: white;  color: #4285f4; " id="type_delete"
                                   type='submit' value='删除' onclick="DeleteType()"/>

                    </div>
                    </div>
                </div>
         </div>

</div>

<footer class="py-5 bg-dark" style="position: fixed; margin-top:1%; width: 100%;background-color: #6c757d; height: 30px; color: white; line-height: 0;">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Website 2020</p>
    </div>
</footer>

<script src='static/js/jquery.min.js' type="text/javascript"></script>
<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">

    function CheckIfParentClicked(check_id, name) {
        console.log("name", name);
        if (name == "zip"){
            var main_type_list = document.getElementsByName("MainType");
            var l = [];
            for (let i = 0; i < main_type_list.length; i++){
                var is_checked = main_type_list[i].checked;
                if (is_checked == true){
                    l.push(main_type_list[i].value);
                }
            }
            console.log("l: ", l);
            if (l.length == 0 ){
                alert("请选择所属类型");
                document.getElementById(check_id).checked = false;

            }
        }
    }


    function create_type_list(ul_el, data, prefix){
        for (let i = 0; i < data.length; i++) {
            console.log("Data: ", data[i][0], data[i][1]);

            var li_el = document.createElement("li");
            var label_el = document.createElement("label");
            var input_el = document.createElement("input");
            var span_el = document.createElement("span");

            li_el.style.marginTop = "10px";
            li_el.style.marginBottom = "-5px";
            input_el.style.marginLeft = "-25px";
            input_el.type = "radio";
            input_el.name = prefix;
            input_el.id = "type_" + data[i][1];
            input_el.value = data[i][1];
            input_el.addEventListener('click', CheckIfParentClicked.bind(null, "type_" + data[i][1], prefix));

            span_el.style.marginLeft = "6px";
            span_el.innerText = data[i][0];
            span_el.value = data[i][1];

            label_el.appendChild(input_el);
            label_el.appendChild(span_el);
            li_el.appendChild(label_el);

            ul_el.appendChild(li_el);

        }
    }


    function GetType(main_id) {
        $.ajax({
            type: 'post',
            url: '/get_resource',
            dataType: 'json',
            data:{
                resource_type: 1,
                menu_id: main_id,
            },

            beforeSend: function() {
                // Do nothing
            },
            success: function(res) {
                console.log("error_code", res['error_code']);
                if(res['error_code'] != 1000){
                    console.log(">>", res["error_code"], res['msg']);
                }else{
                    var ul_el = document.getElementById("zip");
                    ul_el.innerText = "";
                    create_type_list(ul_el, res['msg']['zip_list'], "zip")
                }

            },
            complete: function() {
                // Do nothing
            },
            error: function() {
                console.log('请求失败~');
            }
        });
    }

    function DeleteType() {
        var main_type_list = document.getElementsByName("MainType2");
        var l = [];
        for (let i = 0; i < main_type_list.length; i++){
            var is_checked = main_type_list[i].checked;
            if (is_checked == true){
                l.push(main_type_list[i].value);
            }
        }
        console.log("l: ", l);
        if (l.length == 0 ){
            alert("请选择上级类型");
        }else {
            var choice_list = document.getElementsByName("zip");
            var choice_id;
            for (let i=0; i<choice_list.length; i++){
                if (choice_list[i].checked == true){
                    choice_id = choice_list[i].value;
                }
            }

            $.ajax({
                type: 'post',
                url: '/manager_resources',
                dataType: 'json',
                data:{
                    "resource_type": "0",
                    "resource_id": choice_id,

                },
                beforeSend: function() {
                    // Do nothing
                },
                success: function(res) {
                    console.log("!!!!!", res["error_code"]);
                    if (res["error_code"] == "4006"){
                        alert("删除选项使用中, 请求失败");

                    }else if (res["error_code"] == "1000"){
                        alert("删除成功");
                    }

                    window.location.reload();
                    {#window.location.reload();#}
                },
                complete: function() {
                    // Do nothing
                },
                error: function() {
                    console.log('请求失败~');
                }
            });

        }

    }

    function CreateNewType() {
        var main_type_list = document.getElementsByName("MainType");
        var l = [];
        for (let i = 0; i < main_type_list.length; i++){
            var is_checked = main_type_list[i].checked;
            if (is_checked == true){
                l.push(main_type_list[i].value);
            }
        }
        console.log("l: ", l);
        if (l.length == 0 ){
            alert("请选择上级类型");
        }else {
            if(document.getElementById("type_name").value == ""){
                alert("请输入新类型名称");
            }else {
                $.ajax({
                    type: 'post',
                    url: '/backend',
                    dataType: 'json',
                    data:{
                        username: "15600803270",
                        create_type: "0",
                        previous_type: l[0],
                        new_type_name: document.getElementById("type_name").value,
                    },

                    beforeSend: function() {
                        // Do nothing
                    },
                    success: function(res) {
                        alert("创建成功");
                        setTimeout(window.location.reload(), 10000 );
                        {#window.location.reload();#}
                    },
                    complete: function() {
                        // Do nothing
                    },
                    error: function() {
                        console.log('请求失败~');
                    }
                });
            }
        }
    }
    document.getElementsByName("MainType")[0].checked = true;
    document.getElementsByName("MainType2")[0].checked = true;
    GetType("1");

</script>
<script type="text/javascript" opacity='0.7' zIndex="-2" count="80" src="static/js/canvas-nest.js"></script>

</body>

</html>
