<!DOCTYPE html>
<html lang="en">
<head>
    <title>Meow Shop</title>
    {#    <meta charset="utf-8">#}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="Template Monster Admin Template">
    <meta property="og:description"
          content="brevis, barbatus clabulares aliquando convertam de dexter, peritus capio. devatio clemens habitio est.">
    <link rel="stylesheet" href="/static/components/base/base.css">
    <style>
        .btn.topaz {
        {#border-top-left-radius: 32px !important;#} border-top-right-radius: 60px;
            border-bottom-right-radius: 60px;
            border-bottom-left-radius: 60px;
        }

        .btn.topaz:hover {
        {#background-color: #1c54e2;#}{#color: #1c54e2;#}
        }

        .custom-control-text.topaz_text {
            color: #6c757d;
        }


    </style>


</head>
<body>
<div class="page">
    <!--RD Navbar-->

    <header class="section rd-navbar-wrap rd-navbar-wrap-transparent">
        <nav id="shop_header" class="rd-navbar rd-navbar-solid rd-navbar-transparent"
             data-rd-navbar='{"responsive":{"1200":{"stickUpOffset":"164px"}}}'>
            <div class="navbar-section navbar-non-stuck">
                <div class="navbar-panel">
                    <button class="navbar-switch mdi-menu novi-icon"
                            data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","isolate":"[data-multi-switch]"}'></button>
                    <div class="navbar-logo">
                        <a class="navbar-navigation-root-link" href="/backend"
                           style="width: 160%; font-size: 22px; font-weight: 500; margin-top: -4%;"> Backstage Management </a>
                    </div>
                </div>
                <div class="navbar-container">
                    <div class="navbar-cell flex-grow-1">
                        <div class="navbar-info">
                            <div class="list list-icons-2">
                                <div class="list-item">
                                    <li class="navbar-navigation-root-item">
                                        <a id="shop_title" class="navbar-navigation-root-link" href="/backend"
                                           style="font-size: 28px; font-weight: 500;"> Backstage Management  </a>
                                    </li>
                                </div>
                            </div>
                            <div class="navbar-logo navbar-fullwidth-logo">
                                <a class="navbar-logo-link" href="index.html">
                                </a>
                            </div>
                            <div class="text-block text-block-2 d-md-flex align-items-center justify-content-center">
                                <div class="list list-icons-2">
                                    <div class="list-item">
                                        <a class="navbar-navigation-root-link" style="display: inline-block; " href="/user_info">
                                            <span id="username" class="mdi-account" style="display: inline-block"> {{ username }} </span>
                                        </a>
                                        <a class="navbar-navigation-root-link" style="display: inline-block; " href="/logout">
                                                <span id="username" class="mdi-logout" style="display: inline-block"> Log out </span>
                                        </a>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="navbar-cell">
                        <div class="navbar-subpanel">
                            <div class="navbar-subpanel-item">
                                <button class="navbar-button navbar-info-button mdi-dots-vertical novi-icon"
                                        data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","class":"navbar-info-active","isolate":"[data-multi-switch]"}'></button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-section">
                <div class="navbar-container navbar-sidebar" style="margin-top: 1%">
                    <div class="navbar-cell flex-grow-1" style="border-bottom: 1px solid #dde0e9;">
                        <ul class="navbar-navigation rd-navbar-nav" style="margin-left: 58px">
                            <li class="navbar-navigation-root-item active" style="margin-left: -66px;">
                                <a class="navbar-navigation-root-link" style="display: inline-block; " href="/backend">
                                    <span class="product-btn btn topaz btn-icon mdi-shopping"
                                          style="display: inline-block; border: 1px solid white;"> Home </span>
                                </a>
                            </li>
                            <li class="navbar-navigation-root-item" style="margin-left: -58px;">
                                <a class="navbar-navigation-root-link" style="display: inline-block; "
                                   href="/menu_items">
                                    <span class="product-btn btn topaz btn-icon mdi-menu"
                                          style="display: inline-block; border: 1px solid white;"> Menu Management </span>
                                </a>
                            </li>

                            <li class="navbar-navigation-root-item rd-navbar--has-dropdown rd-navbar-submenu" style="margin-left: -55px; min-width: 284px;">
                                <a class="navbar-navigation-root-link" style="display: inline-block; " href="/status">
                                    <span class="product-btn btn topaz btn-icon mdi-account-box"  style="display: inline-block; border: 1px solid white;"> User Management </span>
                                </a><span class="rd-navbar-submenu-toggle"></span>
                                <ul class="navbar-navigation-dropdown rd-navbar-dropdown">
                                    <li class="navbar-navigation-back">
                                        <button class="navbar-navigation-back-btn">Back</button>
                                    </li>
                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/renewal_member">
                                            <span class=" mdi-cake" style="display: inline-block; "> Shop Member Application  </span>
                                        </a>

                                    </li>

                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/status">
                                            <span class=" mdi-account-star" style="display: inline-block; "> User Registration & Access Status  </span>
                                        </a>
                                    </li>

                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/add_internal_user">
                                            <span class=" mdi-account-plus" style="display: inline-block; "> Add Internal Test Account  </span>
                                        </a>
                                    </li>
                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/internal_users">
                                            <span class="mdi-clipboard-account" style="display: inline-block; "> Test Account List  </span>
                                        </a>
{#                                        <a class="navbar-navigation-dropdown-link" href="/manager_resources">内部测试用户查看</a>#}
                                    </li>
                                </ul>
                            </li>

                            <li class="navbar-navigation-root-item rd-navbar--has-dropdown rd-navbar-submenu" style="margin-left: -56px; min-width: 309px;">
                                <a class="navbar-navigation-root-link" style="display: inline-block; " href="/goods_list">
                                    <span class="product-btn btn topaz btn-icon mdi-cart"  style="display: inline-block; border: 1px solid white;"> Porduct Management </span>
                                </a><span class="rd-navbar-submenu-toggle"></span>
                                <ul class="navbar-navigation-dropdown rd-navbar-dropdown">
                                    <li class="navbar-navigation-back">
                                        <button class="navbar-navigation-back-btn">Back</button>
                                    </li>


                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/create_goods">
                                            <span class="mdi-playlist-plus" style="display: inline-block; "> Create New Product </span>
                                        </a>

                                    </li>

                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/update_goods">
                                            <span class="mdi-auto-upload" style="display: inline-block; "> Modify Product </span>
                                        </a>
                                    </li>

                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/goods_list">
                                            <span class="mdi-cart-outline" style="display: inline-block; "> All Products List </span>
                                        </a>
                                    </li>

                                </ul>
                            </li>


{#                            <li class="navbar-navigation-root-item" style="margin-left: -58px;">#}
{#                                <a class="navbar-navigation-root-link" style="display: inline-block; "#}
{#                                   href="/view_orders">#}
{#                                    <span class="product-btn btn topaz btn-icon mdi-book"#}
{#                                          style="display: inline-block;  border: 1px solid white;"> All Orders List</span>#}
{#                                </a>#}
{#                            </li>#}

                            <li class="navbar-navigation-root-item rd-navbar--has-dropdown rd-navbar-submenu"
                                style="margin-left: -58px; min-width: 320px;">
                                <a class="navbar-navigation-root-link" style="display: inline-block; " href="/backend">
                                    <span class="product-btn btn topaz btn-icon mdi-note-outline"
                                          style="display: inline-block; border: 1px solid white;"> Resource Management  </span>
                                </a><span class="rd-navbar-submenu-toggle"></span>
                                <ul class="navbar-navigation-dropdown rd-navbar-dropdown">
                                    <li class="navbar-navigation-back">
                                        <button class="navbar-navigation-back-btn">Back</button>
                                    </li>
                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/create_guide">Create New Resource</a>
                                    </li>

                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/modify_resources">Modify Resource</a>
                                    </li>

                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/manager_resources">Resource Batch Management</a>
                                    </li>
                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/zip_list">Compressed Package Resource List</a>
                                    </li>
                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/feature_list">Function Resource List</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </nav>
    </header>

    <section class="section section-md bg-primary-lightest" style="">
        <div class="container">
            <div class="row row-40 row-content justify-content-center text-center">


            <div class="col-md-8 col-lg-9">
                {#  修改商品 #}
                <div id="f2" class="row justify-content-center text-center" style="margin-top: 6%;">
                <div class="col-md-6" style="min-width: 96%;">
                    <div class="box box-form-1 section-offset-item">
                        <div class="box-header">
                            <h3 class="box-title"> Product Information Modification
                            </h3>
                        </div>
                        <div class="box-body">
                            <div id="form1" class="rd-form rd-mailform" data-form-output="contact-form-1" data-form-type="contact" novalidate="novalidate">
                                <div class="row row-20 align-items-center">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="form-label" for="product_name"><h5 style="font-weight: 600">Step1: Enter Product Name </h5></label>
                                            <div class="form-control-wrap">
                                                {% if data  == None %}
                                                    <input id="product_name" name="product_name" class="form-control form-control-has-validation form-control-last-child"
                                                       onchange="GetProductInfo(1)" type="text" placeholder="e.g. Harry Potter" data-constraints="@Required" style=" width: 80%; display: inline-block;">
                                                {% else  %}
                                                    <input id="product_name" name="product_name" class="form-control form-control-has-validation form-control-last-child"
                                                       value="{{ data[0]["goods_name"] }}" onmousedown="GetProductInfo(1)" type="text" placeholder="e.g. Harry Potter" data-constraints="@Required" style=" width: 80%; display: inline-block; ">

                                                {% end %}
                                                <span class="form-validation"></span>
                                                <button id="confirm_button" onclick="GetProductInfo(1)" class="btn btn-lg btn-primary" style="min-width: 10%; max-height: 3.1844rem; padding: 18px;font-size: 12px; margin-left: 2.8%">Confirm</button>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-10 col-lg-8" style="min-width: 98%; margin-left: 1%;">
                                        <div class="accordion accordion-line ">
                                            <div id="goods_info" class="accordion-item active">
                                                <div class="accordion-head h5 " style="font-weight: 600"> STEP2: Modify Product</div>
                                                <div id="goods_body" class="accordion-body ">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label" for="price"> Price </label>
                                                            <div class="form-control-wrap">
                                                                <input id="price" name="price" class="form-control form-control-has-validation form-control-last-child" onchange="CheckPrice(1)"  type="text" placeholder="e.g. 1800">
                                                                <span id="price_info" class="form-validation"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6" style="margin-top: 1%;">
                                                        <div class="form-group">
                                                            <label class="form-label" for="is_discount" style="min-width: 196px; display: block; margin-top: 5px;">Is Discount </label>
                                                            <div class="custom-control custom-checkbox" style="height: 3.29rem; display: inline-block; margin-left: -8.4%;;">
                                                                <input class="custom-control-input" type="radio" id="checked_1" name="is_discount" checked="checked">
                                                                <label class="custom-control-label" for="checked_1" style="margin-top: 0.8rem; margin-left: 2.22rem;">
                                                                    <span class="custom-control-text topaz_text" style=" font-size: 1.08rem;font-weight: 500;"> YES </span>
                                                                </label>
                                                            </div>
                                                            <div class="custom-control custom-checkbox" style="height: 3.29rem; display: inline-block">
                                                                <input class="custom-control-input" type="radio" id="checked_2" name="is_discount">
                                                                <label class="custom-control-label" for="checked_2" style="margin-top: 0.8rem; margin-left: 2.22rem;">
                                                                    <span class="custom-control-text topaz_text" style=" font-size: 1.08rem;font-weight: 500;"> NO </span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label" for="discount_persent">
                                                                DISCOUNT </label>
                                                            <div class="form-control-wrap">
                                                                <input id="discount" name="discount" class="form-control form-control-has-validation form-control-last-child" onchange="CheckDiscount(1)" type="text" placeholder="e.g. 80">
                                                                <span id="discount_info" class="form-validation"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-12" style="margin-top: 1%;">
                                                        <div class="form-group">
                                                            <label class="form-label" for="short_desc"> Product Short Description (10-50 characters) </label>
                                                            <div class="form-control-wrap">
                                                                <textarea id="short_desc" name="short_desc" onchange="CheckDesc(0, 1)" class="form-control form-control-has-validation form-control-last-child"
                                                                        placeholder="写实 3D 角色服装 ..."  data-constraints="@Required" style="min-height: 68px"></textarea>
                                                                <span id="short_desc_info" class="form-validation"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12" style="margin-top: 1%;">
                                                        <div class="form-group">
                                                            <label class="form-label" for="product_desc">Detailed Description (50-300 characters)</label>
                                                            <div class="form-control-wrap">
                                                                <textarea id="product_desc" name="product_desc" onchange="CheckDesc(1, 1)" class="form-control form-control-last-child"
                                                                         placeholder="简单基础款黑色短袖, 可搭配外套 ..." data-constraints="@Required"
                                                                        style="height: 160px;">
                                                                </textarea>
                                                                <span id="desc_info" class="form-validation"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto" style="margin-top: 2%;">
                                                        <div class="rd-form-btn text-left">
                                                            <button  class="btn btn-lg btn-primary" type="submit" onclick="UpdateSingleGoods()">Submit</button>
                                                        <a class="btn btn-lg btn-primary" href="/backend"><span>Back</span></a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="col-12">
                                        <div class="rd-form-meta small">
                                            <h5 style="color: #26455561; font-weight: 500; float: left;">
                                                <span class="list-icon onclinic-quote" style=""></span>
                                                如何使用： 1. 输入商品名称并点击确认(页面会自动填充商品当前信息) &nbsp; &nbsp; 2. 修改所需部分, 点击提交 。
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-output snackbar snackbar-primary" id="contact-form-1"></div>
                        </div>
                    </div>
                </div>

            </div>
            </div>

            </div>
        </div>
    </section>


    <section class="footer footer-dark context-dark bg-800" style="margin-top: 10%">
        <div class="container">
            <div class="row row-30">
                <div class="col-sm-6 col-lg-3">
                    <!-- Logo-->
                    <div class="logo">
                        <a class="logo-link" href="/">
{#                            <img class="logo-image-default" src="/static/images/meowfile.png" alt="Airy" width="146" height="36">#}
                            <img class="logo-image-inverse" src="/static/images/meowshop.png" alt="Meow Shop" width="146" height="36">
                        </a>
                    </div>
                    <p>Meow Shop is a full-featured mall, including background management, payment, order viewing, etc. </p>
                    <div class="social group-20">
{#                        <a class="social-icon icon icon-md icon-link onclinic-instagram" href="#"></a>#}
                    </div>
            </div>

                <div class="col-sm-6 col-lg-3">
                    <h5 class="footer-title">Contacts</h5>
                    <ul class="list list-icons">
                        <li class="list-item">
                            <div class="list-icon onclinic-map-marker"></div>
                            ChaoYang, Beijing
                        </li>
                        <li class="list-item">
                            <div class="list-icon onclinic-phone"></div>
                            +8615600803270
                        </li>
                        <li class="list-item">
                            <div class="list-icon onclinic-email-open"></div>
                            topaz1668@gmail.com
                        </li>

                    </ul>

                </div>

                <div class="col-sm-6 col-lg-3">
                    <h5 class="footer-title">Useful Links</h5>
                    <ul class="list list-sm">
                      <li class="list-item"><a href="https://topaz1618.github.io/about/">About</a></li>
                      <li class="list-item"><a href="https://topaz1618.github.io/projects/">Projects</a></li>
                      <li class="list-item"><a href="https://topaz1618.github.io/blog/">Blog</a></li>
                    </ul>
                </div>



            </div>
        </div>
    </section>
    <footer class="footer footer-minimal context-dark bg-900">
        <div class="container">
        </div>
    </footer>
</div>
<!-- Preloader-->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
    </div>
</div>

<div class="to-top mdi-chevron-up "></div>
</body>
</html>
<script src="/static/components/base/core.min.js"></script>
<script src="/static/components/base/script.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript">

    var shop_header = document.getElementById("shop_header");
    var shop_title = document.getElementById("shop_title");

    var check_name = document.getElementById("check_name");
    var tag0 = document.getElementById("tag0");
    var tag1 = document.getElementById("tag1");
    var formDict = {};


    function CheckPrice(num) {
        var money;
        var money_info;
        if (num==0){
            money = document.getElementById("cg_price").value;
            money_info = document.getElementById("cg_price_info");
        }else if (num == 1){
            money = document.getElementById("price").value;
            money_info  = document.getElementById("price_info");
        }

        var reg = /(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/;
        if (reg.test(money)) {
            console.log("价格正确");
            money_info.innerText = "";
            return true;
        } else {
            money_info.innerText = "Only numbers are required";
            return false;
        }
    }

    function CheckDiscount(num) {
        var discount;
        var discount_info;
        if (num==0){
            discount = document.getElementById("cg_discount");
            discount_info = document.getElementById("cg_discount_info");
        }else if (num == 1){
            discount = document.getElementById("discount");
            discount_info  = document.getElementById("discount_info");

        }

        var reg = /(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/;
        if (reg.test(discount.value)) {
            if (discount.value > 100) {
                discount_info.innerText = "Discount error";
                return false;
            } else {
                discount_info.innerText = "";
                return true;
            }
        } else {
            discount_info.innerText = "Only numbers are required";

            return false;
        }
    }

    function CheckDesc(desc_type, goods_type) {
        var res;
        var desc;
        var short_desc;
        if (goods_type == 0) {
            short_desc = document.getElementById("cg_short_desc");
            desc = document.getElementById("cg_product_desc");
        }else if (goods_type==1){
            short_desc = document.getElementById("short_desc");
            desc = document.getElementById("product_desc");
        }
        if (desc_type == 0) {

            if (short_desc.value.length < 10) {
                console.log("1short desc false");
                res = false;
            } else if (short_desc.value.length > 50) {
                console.log("2short desc false");

                res = false;
            }
            else {
                console.log("short desc true");
                res = true;
            }

        } else if (desc_type == 1) {
            if (desc.value.length < 50) {
                console.log("1desc false");
                res = false;
            }
            else if (desc.value.length > 300) {
                console.log("2desc false");
                res = false;
            }
            else {
                console.log("desc true");
                res = true;
            }

        }
        console.log("Res", res);
        return res

    }

    function CheckParams(num) {
        var desc;
        var short_desc;

        short_desc = document.getElementById("short_desc");
        desc = document.getElementById("product_desc");

        var price_res = CheckPrice(num);
        var discount_res = CheckDiscount(num);
        var desc0 = CheckDesc(0, num);
        var desc1 = CheckDesc(1, num);
        var check_name = GetProductInfo(num);

        console.log(">>>.", price_res, discount_res, desc0, desc1, check_name);
        if (price_res && discount_res && desc0 && desc1 && check_name) {
            return true
        } else {
            if (desc0 == false) {
                alert("Current 【SHORT DESCRIPTION】 word count【" + short_desc.value.length + "】， Please enter according to the specified number of words");
            } else if (desc1 == false) {
                alert("Current 【DETAILED DESCRIPTION】 word count: " + desc.value.length + "， Please enter according to the specified number of words");
            }
            return false
        }

    }

    function GenerateFormData() {
        const NewData = new FormData();

        var goods_name = document.getElementById("product_name");
        var price = document.getElementById("price");
        var discount =  document.getElementById("discount");
        var short_desc =  document.getElementById("short_desc");
        var product_desc =  document.getElementById("product_desc");
        var is_discount;
        if (document.getElementById("checked_1").checked == true){
            is_discount = 1;
        }else {
            is_discount = 0;
        }

        {#NewData.append("is_discount", formDict["is_discount"]);#}

        NewData.append("goods_id", formDict["goods_id"]);
        NewData.append("is_discount", is_discount);

        if (formDict["goods_name"] != goods_name.value) {
            NewData.append("goods_name", goods_name.value);
        }
        if (formDict["price"] != price.value) {
            NewData.append("price", price.value);
        }
        if (formDict["discount"] != discount.value) {
            NewData.append("discount", discount.value);
        }

        if (formDict["short_desc"] != short_desc.value) {
            NewData.append("short_desc", short_desc.value);
        }
        if (formDict["product_desc"] != product_desc.value) {
            NewData.append("product_desc", product_desc.value);
        }
        //console.log(">>>>>>>>>>>>>>>>>>>",NewData.get('goods_id'));
        //console.log(">>>>>>>>>>>>>>>>>>>",NewData.get('goods_name'));
        //console.log(">>>>>>>>>>>>>>>>>>>",NewData.get('price'));
        //console.log(">>>>>>>>>>>>>>>>>>>",NewData.get('discount'));
        //console.log(">>>>>>>>>>>>>>>>>>>",NewData.get('short_desc'));
        //console.log(">>>>>>>>>>>>>>>>>>>",NewData.get('product_desc'));
        return NewData
    }

    function UpdateSingleGoods() {
        var params_res = CheckParams(1);
        console.log("params res", params_res);
        if (params_res) {
            console.log(formDict);
            var new_data = GenerateFormData(formDict);

            $.ajax({
                url: "/update_goods",
                type: "POST",
                data: new_data,
                processData: false,
                contentType: false,
                success: function (response) {
                    var error_code = response["error_code"];
                    if (error_code == "1000") {
                        console.log("", response["msg"]);
                        alert( "Modified product successfully!  ")
                    }

                    else {
                        if (error_code == "4004") {
                            alert("商品不存在, 请检查所输商品名称");

                        } else {
                            alert(response["msg"]);
                        }
                    }

                }
            });

        }else{
            console.log(false, formDict);

            return false;
        }
    }


    function GetProductInfo(num) {

        var goods_name;
        goods_name = document.getElementById("product_name");
        var name = goods_name.value;
        const formData = new FormData();
        formData.append("goods_name", name);

        $.ajax({
            url: "/single_product",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {

                var error_code = response["error_code"];
                if (error_code == "1000") {

                        var msg = response["msg"];
                        for (var key in msg) {
                            var data = msg[key];
                            console.log(data);
                            document.getElementById("price").value = data["price"];
                            if (data["is_discount"] == true) {
                                document.getElementById("checked_1").checked = "checked";
                            } else {
                                document.getElementById("checked_2").checked = "checked";
                            }

                            document.getElementById("discount").value = data["discount"];
                            document.getElementById("short_desc").value = data["short_desc"];
                            console.log(data["desc"]);
                            document.getElementById("product_desc").value = data["desc"];
                        }

                        formDict["goods_id"] = data["goods_id"];
                        formDict["goods_name"] = data["goods_name"];
                        formDict["price"] = data["price"];
                        formDict["is_discount"] = data["is_discount"];
                        formDict["discount"] = data["discount"];
                        formDict["short_desc"] = data["short_desc"];
                        formDict["product_desc"] = data["desc"];

                    }
                else {
                    if (error_code == "4004") {
                        alert("商品不存在, 请检查所输商品名称");
                        return false;
                    } else {
                        alert(response["msg"]);
                        return  false;
                    }
                }
            }
        });

        return true
    }

    if (window.location.href.split("?goods_name=").length > 1){
        if (document.getElementById("product_name") != ""){
            document.getElementById("confirm_button").click();
        }
    }




    {#var shop_phone = document.getElementById("shop_phone");#}
    var option = {
        attributes: true,
        attributeFilter: ['class']
    };



    var mutationObserver = new MutationObserver(function (mutations) {
        if (shop_header.className.indexOf('rd-navbar-fixed') != -1) {
            shop_title.style.display = "None";
            {#shop_phone.style.display = "Block";#}
        } else {
            shop_title.style.display = "Block";
            {#shop_phone.style.display = "None";#}

        }
    });

    mutationObserver.observe(shop_header, option)

</script>
