<!DOCTYPE html>
<html lang="en">
<head>
    <title>Meow Shop</title>
    {#    <meta charset="utf-8">#}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="Template Monster Admin Template">
    <meta property="og:description"
          content="brevis, barbatus clabulares aliquando convertam de dexter, peritus capio. devatio clemens habitio est.">
    <link rel="stylesheet" href="/static/components/base/base.css">
    <style>
        .btn.topaz {
        {#border-top-left-radius: 32px !important;#} border-top-right-radius: 60px;
            border-bottom-right-radius: 60px;
            border-bottom-left-radius: 60px;
        }

        .btn.topaz:hover {
        {#background-color: #1c54e2;#}{#color: #1c54e2;#}
        }

        .custom-control-text.topaz_text {
            color: #6c757d;
        }

        .topaz_title1{
            font-weight: 600;
            margin-left: 18px;
            font-size: 20px;
        }

        .form-label.topaz_title2{
            font-size: 0.98rem;
            font-weight: 600;
            padding: 0;
        }
    </style>


</head>
<body>
<div class="page">
    <!--RD Navbar-->

{# Header  #}
    <header class="section rd-navbar-wrap rd-navbar-wrap-transparent">
        <nav id="shop_header" class="rd-navbar rd-navbar-solid rd-navbar-transparent"
             data-rd-navbar='{"responsive":{"1200":{"stickUpOffset":"164px"}}}'>
            <div class="navbar-section navbar-non-stuck">
                <div class="navbar-panel">
                    <button class="navbar-switch mdi-menu novi-icon"
                            data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","isolate":"[data-multi-switch]"}'></button>
                    <div class="navbar-logo">
                        <a class="navbar-navigation-root-link" href="/backend"
                           style="width: 160%; font-size: 22px; font-weight: 500; margin-top: -4%;"> Backstage Management </a>
                    </div>
                </div>
                <div class="navbar-container">
                    <div class="navbar-cell flex-grow-1">
                        <div class="navbar-info">
                            <div class="list list-icons-2">
                                <div class="list-item">
                                    <li class="navbar-navigation-root-item">
                                        <a id="shop_title" class="navbar-navigation-root-link" href="/backend"
                                           style="font-size: 28px; font-weight: 500;"> Backstage Management  </a>
                                    </li>
                                </div>
                            </div>
                            <div class="navbar-logo navbar-fullwidth-logo">
                                <a class="navbar-logo-link" href="index.html">
                                </a>
                            </div>
                            <div class="text-block text-block-2 d-md-flex align-items-center justify-content-center">
                                <div class="list list-icons-2">
                                    <div class="list-item">
                                        <a class="navbar-navigation-root-link" style="display: inline-block; " href="/user_info">
                                            <span id="username" class="mdi-account" style="display: inline-block"> {{ username }} </span>
                                        </a>
                                        <a class="navbar-navigation-root-link" style="display: inline-block; " href="/logout">
                                                <span id="username" class="mdi-logout" style="display: inline-block"> Log out </span>
                                        </a>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="navbar-cell">
                        <div class="navbar-subpanel">
                            <div class="navbar-subpanel-item">
                                <button class="navbar-button navbar-info-button mdi-dots-vertical novi-icon"
                                        data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","class":"navbar-info-active","isolate":"[data-multi-switch]"}'></button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-section">
                <div class="navbar-container navbar-sidebar" style="margin-top: 1%">
                    <div class="navbar-cell flex-grow-1" style="border-bottom: 1px solid #dde0e9;">
                        <ul class="navbar-navigation rd-navbar-nav" style="margin-left: 58px">
                            <li class="navbar-navigation-root-item active" style="margin-left: -66px;">
                                <a class="navbar-navigation-root-link" style="display: inline-block; " href="/backend">
                                    <span class="product-btn btn topaz btn-icon mdi-shopping"
                                          style="display: inline-block; border: 1px solid white;"> Home </span>
                                </a>
                            </li>
                            <li class="navbar-navigation-root-item" style="margin-left: -58px;">
                                <a class="navbar-navigation-root-link" style="display: inline-block; "
                                   href="/menu_items">
                                    <span class="product-btn btn topaz btn-icon mdi-menu"
                                          style="display: inline-block; border: 1px solid white;"> Menu Management </span>
                                </a>
                            </li>

                            <li class="navbar-navigation-root-item rd-navbar--has-dropdown rd-navbar-submenu" style="margin-left: -55px; min-width: 284px;">
                                <a class="navbar-navigation-root-link" style="display: inline-block; " href="/status">
                                    <span class="product-btn btn topaz btn-icon mdi-account-box"  style="display: inline-block; border: 1px solid white;"> User Management </span>
                                </a><span class="rd-navbar-submenu-toggle"></span>
                                <ul class="navbar-navigation-dropdown rd-navbar-dropdown">
                                    <li class="navbar-navigation-back">
                                        <button class="navbar-navigation-back-btn">Back</button>
                                    </li>
                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/renewal_member">
                                            <span class=" mdi-cake" style="display: inline-block; "> Shop Member Application  </span>
                                        </a>

                                    </li>

                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/status">
                                            <span class=" mdi-account-star" style="display: inline-block; "> User Registration & Access Status  </span>
                                        </a>
                                    </li>

                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/add_internal_user">
                                            <span class=" mdi-account-plus" style="display: inline-block; "> Add Internal Test Account  </span>
                                        </a>
                                    </li>
                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/internal_users">
                                            <span class="mdi-clipboard-account" style="display: inline-block; "> Test Account List  </span>
                                        </a>
{#                                        <a class="navbar-navigation-dropdown-link" href="/manager_resources">内部测试用户查看</a>#}
                                    </li>
                                </ul>
                            </li>

                            <li class="navbar-navigation-root-item rd-navbar--has-dropdown rd-navbar-submenu" style="margin-left: -56px; min-width: 309px;">
                                <a class="navbar-navigation-root-link" style="display: inline-block; " href="/goods_list">
                                    <span class="product-btn btn topaz btn-icon mdi-cart"  style="display: inline-block; border: 1px solid white;"> Porduct Management </span>
                                </a><span class="rd-navbar-submenu-toggle"></span>
                                <ul class="navbar-navigation-dropdown rd-navbar-dropdown">
                                    <li class="navbar-navigation-back">
                                        <button class="navbar-navigation-back-btn">Back</button>
                                    </li>


                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/create_goods">
                                            <span class="mdi-playlist-plus" style="display: inline-block; "> Create New Product </span>
                                        </a>

                                    </li>

                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/update_goods">
                                            <span class="mdi-auto-upload" style="display: inline-block; "> Modify Product </span>
                                        </a>
                                    </li>

                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/goods_list">
                                            <span class="mdi-cart-outline" style="display: inline-block; "> All Products List </span>
                                        </a>
                                    </li>

                                </ul>
                            </li>


{#                            <li class="navbar-navigation-root-item" style="margin-left: -58px;">#}
{#                                <a class="navbar-navigation-root-link" style="display: inline-block; "#}
{#                                   href="/view_orders">#}
{#                                    <span class="product-btn btn topaz btn-icon mdi-book"#}
{#                                          style="display: inline-block;  border: 1px solid white;"> All Orders List</span>#}
{#                                </a>#}
{#                            </li>#}

                            <li class="navbar-navigation-root-item rd-navbar--has-dropdown rd-navbar-submenu"
                                style="margin-left: -58px; min-width: 320px;">
                                <a class="navbar-navigation-root-link" style="display: inline-block; " href="/backend">
                                    <span class="product-btn btn topaz btn-icon mdi-note-outline"
                                          style="display: inline-block; border: 1px solid white;"> Resource Management  </span>
                                </a><span class="rd-navbar-submenu-toggle"></span>
                                <ul class="navbar-navigation-dropdown rd-navbar-dropdown">
                                    <li class="navbar-navigation-back">
                                        <button class="navbar-navigation-back-btn">Back</button>
                                    </li>
                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/create_guide">Create New Resource</a>
                                    </li>

                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/modify_resources">Modify Resource</a>
                                    </li>

                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/manager_resources">Resource Batch Management</a>
                                    </li>
                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/zip_list">Compressed Package Resource List</a>
                                    </li>
                                    <li class="navbar-navigation-dropdown-item">
                                        <a class="navbar-navigation-dropdown-link" href="/feature_list">Function Resource List</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </nav>
    </header>

{# Body  #}
    <section class="section section-md bg-primary-lightest" style="">
        <div class="container">
            <div class="row row-40 row-content justify-content-center text-center">


            <div class="col-md-8 col-lg-9">

                <div id="f1" class="row justify-content-center text-center" style="margin-top: 6%;">
                <div class="col-md-6" style="min-width: 96%;">
                    <div class="box box-form-1 section-offset-item">
                        <div class="box-header">
                            <h3 class="box-title"> Compressed Package Resource Modification </h3>
                        </div>
                        <div class="box-body">
                            <div id="form1" class="rd-form rd-mailform" data-form-output="contact-form-1" data-form-type="contact" novalidate="novalidate">
                                <div class="row row-20 align-items-center">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="form-label" for="product_name">
                                                <h5 style="font-weight: 600">Step1: Enter the compressed package name  </h5>
                                            </label>
                                            <div class="form-control-wrap">
                                                {% if data  == None %}
                                                    <input id="zip_name" name="product_name" class="form-control form-control-has-validation form-control-last-child"
                                                        type="text" placeholder="e.g. Harry Potter" data-constraints="@Required" style=" width: 80%; display: inline-block;">

                                                {% else  %}
                                                    {% if basic_info["rtype"] == 0 %}
                                                        <input id="zip_name" name="product_name" class="form-control form-control-has-validation form-control-last-child"
                                                       value="{{ data[0]["name"] }}" onmousedown="GetResourceInfo(0)"   type="text" placeholder="e.g. Harry Potter" data-constraints="@Required" style=" width: 80%; display: inline-block; ">
                                                    {% else %}
                                                        <input id="zip_name" name="product_name" class="form-control form-control-has-validation form-control-last-child"
                                                       type="text" placeholder="e.g. Harry Potter " data-constraints="@Required" style=" width: 80%; display: inline-block;">
                                                    {% end %}
{#                                                    <button id="confirm_button" onclick="RemoveReadonly()" class="btn btn-lg btn-primary" style="min-width: 10%; max-height: 3.1844rem; padding: 18px;font-size: 12px; margin-left: 2.8%">重选</button>#}
                                                    <button id="confirm_button" onclick="GetResourceInfo(0)" class="btn btn-lg btn-primary" style="min-width: 10%; max-height: 3.1844rem; padding: 18px;font-size: 12px; margin-left: 2.8%">Confirm</button>

                                                {% end %}
                                                <span class="form-validation"></span>
                                            </div>
                                        </div>
                                    </div>

                                     <h5 style="font-weight: 600; margin-left: 18px">STEP2: Modify compressed package information </h5>
                                     <div class="col-12">
                                        <div class="form-group">

                                            <div class="form-control-wrap">
                                               <label class="form-label" for="product_name">
                                                   <div class="form-label topaz_title2" style=""> * New Name </div>
                                                </label>
                                                    <input id="new_zip_name" name="product_name" class="form-control form-control-has-validation form-control-last-child"
                                                           type="text" placeholder="e.g. 飞天小女警" data-constraints="@Required" style=" display: inline-block;">
                                                <span class="form-validation"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="form-label topaz_title2" for="is_component" style="min-width: 196px; display: block; margin-top: 5px;">*component type </label>
                                            <div class="custom-control custom-checkbox" style="height: 3.29rem; display: inline-block;">
                                                <input class="custom-control-input" type="radio" id="is_component1" name="is_component" checked="checked">
                                                <label class="custom-control-label" for="is_component1" style="margin-top: 0.8rem; margin-left: 2.22rem;">
                                                    <span class="custom-control-text topaz_text" style=" font-size: 1.08rem;font-weight: 500;"> Yes </span>
                                                </label>
                                            </div>
                                            <div class="custom-control custom-checkbox" style="height: 3.29rem; display: inline-block">
                                                <input class="custom-control-input" type="radio" id="is_component2" name="is_component">
                                                <label class="custom-control-label" for="is_component2" style="margin-top: 0.8rem; margin-left: 2.22rem;">
                                                    <span class="custom-control-text topaz_text" style=" font-size: 1.08rem;font-weight: 500;"> No </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-12" style="margin-top: 1%;">
                                        <div class="form-group">
                                            <label class="form-label topaz_title2" for="resource_authority" style="min-width: 196px; display: block; margin-top: 5px;">* Resource Type </label>

                                            <div class="custom-control custom-checkbox" style="height: 3.29rem; display: inline-block">
                                                <input onclick="BanBindUser()" class="custom-control-input" type="radio" id="checked_3" name="is_paid" checked="checked" value="2">
                                                <label class="custom-control-label" for="checked_3" style="margin-top: 0.8rem; margin-left: 2.22rem;">
                                                    {#  原会员免费 #}
                                                    <span class="custom-control-text topaz_text" style=" font-size: 1.08rem;font-weight: 500;"> VIP Resource </span>
                                                </label>
                                            </div>

                                            <div class="custom-control custom-checkbox" style="height: 3.29rem; display: inline-block; ">
                                                <input onclick="AllowBindUser()" class="custom-control-input" type="radio" id="checked_1" name="is_paid"  value="0">
                                                <label class="custom-control-label" for="checked_1" style="margin-top: 0.8rem; margin-left: 2.22rem;">
                                                    {#  原付费 #}
                                                    <span class="custom-control-text topaz_text" style="font-size: 1.08rem;font-weight: 500;"> Custom Resource </span>
                                                </label>
                                            </div>

                                            <div class="custom-control custom-checkbox" style="height: 3.29rem; display: inline-block">
                                                <input onclick="BanBindUser()" class="custom-control-input" type="radio" id="checked_4" name="is_paid" value="3">
                                                <label class="custom-control-label" for="checked_4" style="margin-top: 0.8rem; margin-left: 2.22rem;">
                                                    <span class="custom-control-text topaz_text" style=" font-size: 1.08rem;font-weight: 500;"> Internal Resource  </span>
                                                </label>
                                            </div>

                                            <div class="custom-control custom-checkbox" style="height: 3.29rem; display: inline-block">
                                                <input onclick="BanBindUser()"  class="custom-control-input" type="radio" id="checked_2" name="is_paid" value="1">
                                                <label class="custom-control-label" for="checked_2" style="margin-top: 0.8rem; margin-left: 2.22rem;">
                                                    <span class="custom-control-text topaz_text" style=" font-size: 1.08rem;font-weight: 500;"> Common Resource </span>
                                                </label>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="col-12" style="margin-top: 1%; display: none">
                                        <div class="form-group" style="margin-top: 1%;">
                                            <div class="form-label topaz_title2" style=""> Associate Custom User
                                            <span class="icon blurb-icon linearicons-question-circle" onmousedown="ShowTag()"></span>
                                            <span id="question_tag" style="display:none; margin-top: 11px; box-shadow: #1c54e226 0px 14px 14px; position: absolute; background-color: rgb(255, 255, 255); font-size: 12px; ">
                                                <span id="bind_info" style="font-size: 0.82rem; font-weight: 500; color: rgb(164, 187, 249); display: inline-block; margin-left: 0px;">
                                                    （This function is limited to resource type: [customized resource] use)
                                                </span>
                                            </span>

                                            </div>
                                            <div class="tag-container">
                                                <div id="users" class="tag-container"></div>
                                                <div id="utag_model" style="display: none">
                                                    <a class="tag tag-light" href=""></a>
                                                    <button class="mdi-close" style="color: #6c757d;" onclick="RemoveUser(this)"></button>
                                                </div>
                                            </div>
                                        <div class="form-control-wrap has-error" id="bind_user">
                                            <input id="user_id" name="user_id" class="form-control form-control-has-validation form-control-last-child" type="text" placeholder="123@gmail.com" data-constraints="@Numeric @Required" style="margin-left: 0.8rem; width: 26%; display: inline-block; " readonly=""><span class="form-validation">The text field is required.</span>
                                            <span id="user_phone" class="form-validation">The text field is required.</span>
                                            <button id="confirm_button2" onclick="CheckIfUserExists(0)" class="btn btn-lg btn-primary" style="min-width: 10%; max-height: 3.1844rem; padding: 18px;font-size: 12px; margin-left: 2.8%" disabled="">确认</button>
                                        </div>
                                        </div>
                                    </div>


                                <h5 style="font-weight: 600; margin-left: 18px">STEP3: Modify Type </h5>
                                    <div class="col-12" style="min-width: 98%; margin-left: 1%;">
                                        <div class="accordion accordion-line ">
                                            <div id="goods_info" class="accordion-item ">
                                                <div class="accordion-head " style="font-size: 0.98rem;font-weight: 600; padding: 0;"> All Catalogs
                                                </div>
                                                <div id="goods_body" class="accordion-body ">
                                                    <div class="col-12" style="margin-top: 20px">
                                                        <div class="form-group">
{#                                                            <label class="form-label topaz_title2" for="price"> Current Type </label>#}
                                                            <div style="font-size:0.88rem; font-weight: 500; margin-top: 2%">Current Type</div>

                                                            <div class="form-control-wrap">
                                                                <input id="zip_menu" name="menu" readonly="true" class="form-control form-control-has-validation form-control-last-child" type="text" placeholder="e.g. 女">
                                                                <span id="price_info" class="form-validation"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <div style="font-size:0.88rem; font-weight: 500; margin-top: 2%">Select Main Menu</div>
                                                            <div class="col-12" style="margin-top: 1%;">
                                                            <div class="form-group" onchange="CheckIfRelatedProduct()">
                                                                <label class="form-label" for="is_discount" style="min-width: 196px; display: block; margin-top: 5px;"></label>
                                                                <div class="custom-control custom-checkbox" style="height: 3.29rem; display: inline-block; margin-left: -1.6rem;">
                                                                    <input class="custom-control-input" type="radio" id="menu21" value="1" name="main_menu2" checked="checked">
                                                                    <label onclick="GetType('1', 0 )" class="custom-control-label" for="menu21" style="margin-top: 0.8rem; margin-left: 2.22rem;">
                                                                        <span class="custom-control-text topaz_text" style=" font-size: 0.88rem; color: #264555"> Character </span>
                                                                    </label>
                                                                </div>
                                                                <div class="custom-control custom-checkbox" style="height: 3.29rem; display: inline-block; margin-left: -1.2rem;">
                                                                    <input class="custom-control-input" type="radio" id="menu22" value="2" name="main_menu2" >
                                                                    <label onclick="GetType('2', 0 )" class="custom-control-label" for="menu22" style="margin-top: 0.8rem; margin-left: 2.22rem;">
                                                                        <span class="custom-control-text topaz_text" style="font-size: 0.88rem; color: #264555"> Scene </span>
                                                                    </label>
                                                                </div>
                                                                <div class="custom-control custom-checkbox" style="height: 3.29rem; display: inline-block; margin-left: -1.2rem;">
                                                                    <input class="custom-control-input" type="radio" id="menu23" value="3" name="main_menu2" >
                                                                    <label onclick="GetType('3', 0 )" class="custom-control-label" for="menu23" style="margin-top: 0.8rem; margin-left: 2.22rem;">
                                                                        <span class="custom-control-text topaz_text" style=" font-size: 0.88rem;color: #264555"> Action </span>
                                                                    </label>
                                                                </div>
                                                                <div class="custom-control custom-checkbox" style="height: 3.29rem; display: inline-block; margin-left: -1.2rem;">
                                                                    <input class="custom-control-input" type="radio" id="menu24" value="4" name="main_menu2" >
                                                                    <label onclick="GetType('4', 0 )" class="custom-control-label" for="menu24" style="margin-top: 0.8rem; margin-left: 2.22rem;">
                                                                        <span class="custom-control-text topaz_text" style="font-size: 0.88rem; color: #264555"> Shot </span>
                                                                    </label>
                                                                </div>
                                                                <div class="custom-control custom-checkbox" style="height: 3.29rem; display: inline-block; margin-left: -1.2rem;">
                                                                    <input class="custom-control-input" type="radio" id="menu25" value="5" name="main_menu2" >
                                                                    <label onclick="GetType('5', 0 )" class="custom-control-label" for="menu25" style="margin-top: 0.8rem; margin-left: 2.22rem;">
                                                                        <span class="custom-control-text topaz_text" style=" font-size: 0.88rem; color: #264555"> Clothes </span>
                                                                    </label>
                                                                </div>
                                                                <div class="custom-control custom-checkbox" style="height: 3.29rem; display: inline-block; margin-left:-1.2rem;">
                                                                    <input class="custom-control-input" type="radio" id="menu26" value="6" name="main_menu2" >
                                                                    <label onclick="GetType('6', 0 )" class="custom-control-label" for="menu26" style="margin-top: 0.8rem; margin-left: 2.22rem;">
                                                                        <span class="custom-control-text topaz_text" style=" font-size: 0.88rem; color: #264555"> Other </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                            <div class=" h5 " style="font-size:0.88rem; font-weight: 500;margin-top: 2%;">Select Secondary Directory</div>
                                                            <div class="col-12 " style="margin-top: 2%; max-height: 22.68rem; overflow-y: auto; padding-right: 0.2rem;">
                                                            <div class="widget">
                                                            <div class="widget-body">
                                                                <div class="table-responsive">
                                                                    <table id="resource_table" class="table table-1">
                                                                        <tbody id="resource_body" style="">
                                                                            <tr id="td_model"  style=" text-align: left; border: 1px solid white; border-bottom: 1px solid white; padding: 0.8rem 1.6rem;">
                                                                                <td style="text-align: left; border: 1px solid white; padding: 0.8rem 0.6rem; font-size: 0.8rem;">
                                                                                    <div class="custom-control custom-checkbox" style="">
                                                                                        <input class="custom-control-input" type="radio" id="Feature" name="cartFilter1" >
                                                                                            <label class="custom-control-label" for="Feature" style="font-size: 0.88rem" >
                                                                                                <a class="link link-inherit" href="/single_product?goods_name=测试专用商品&amp;goods_id=10&amp;goods_price=1">测试专用商品</a>
                                                                                            </label>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="rd-form-btn text-left">
                                        <button  class="btn btn-lg btn-primary" type="submit" onclick="UpdateSingleResource()">Submit</button>
                                    </div>
                                    <div class="rd-form-btn text-left">
                                       <a class=""  style="color: white;" href="/zip_list">  <button  class="btn btn-lg btn-primary" type="submit" >Back</button> </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-output snackbar snackbar-primary" id="contact-form-1"></div>
                    </div>
                </div>
                </div>


            </div>

            </div>
        </div>
    </section>


    <section class="footer footer-dark context-dark bg-800" style="margin-top: 10%">
        <div class="container">
            <div class="row row-30">
                <div class="col-sm-6 col-lg-3">
                    <!-- Logo-->
                    <div class="logo">
                        <a class="logo-link" href="/">
{#                            <img class="logo-image-default" src="/static/images/meowfile.png" alt="Airy" width="146" height="36">#}
                            <img class="logo-image-inverse" src="/static/images/meowshop.png" alt="Meow Shop" width="146" height="36">
                        </a>
                    </div>
                    <p>Meow Shop is a full-featured mall, including background management, payment, order viewing, etc. </p>
                    <div class="social group-20">
{#                        <a class="social-icon icon icon-md icon-link onclinic-instagram" href="#"></a>#}
                    </div>
            </div>

                <div class="col-sm-6 col-lg-3">
                    <h5 class="footer-title">Contacts</h5>
                    <ul class="list list-icons">
                        <li class="list-item">
                            <div class="list-icon onclinic-map-marker"></div>
                            ChaoYang, Beijing
                        </li>
                        <li class="list-item">
                            <div class="list-icon onclinic-phone"></div>
                            +8615600803270
                        </li>
                        <li class="list-item">
                            <div class="list-icon onclinic-email-open"></div>
                            topaz1668@gmail.com
                        </li>

                    </ul>

                </div>

                <div class="col-sm-6 col-lg-3">
                    <h5 class="footer-title">Useful Links</h5>
                    <ul class="list list-sm">
                      <li class="list-item"><a href="https://topaz1618.github.io/about/">About</a></li>
                      <li class="list-item"><a href="https://topaz1618.github.io/projects/">Projects</a></li>
                      <li class="list-item"><a href="https://topaz1618.github.io/blog/">Blog</a></li>
                    </ul>
                </div>



            </div>
        </div>
    </section>
    <footer class="footer footer-minimal context-dark bg-900">
        <div class="container">
        </div>
    </footer>
</div>
<!-- Preloader-->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
    </div>
</div>

<div class="to-top mdi-chevron-up "></div>
</body>
</html>
<script src="/static/components/base/core.min.js"></script>
<script src="/static/components/base/script.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
    var shop_header = document.getElementById("shop_header");
    var shop_title = document.getElementById("shop_title");

    var check_name = document.getElementById("check_name");

    // 保存当前的parent_id 用于对比
    // 保存当前的角色名称用于进行对比


    var formDict = {};
    var current_resource_id;
    var current_menu_id;
    var is_related_product;
    var goods_id;
    var main_menu_id;

    function CheckIfRelatedProduct() {
        console.log("请勿修改类型");
    }

    function ShowTag() {
        var tag_el = document.getElementById("question_tag");
        tag_el.style.display =  "";

        setTimeout(function () {
            tag_el.style.display =  "none";
        }, 1800);

    }


    function SetReadonly() {
        var zip_name =  document.getElementById("zip_name");
        zip_name.setAttribute("readonly", "readonly");
    }

    function RemoveReadonly() {
        var zip_name =  document.getElementById("zip_name");
       zip_name.removeAttribute("readonly");
    }


    function RemoveUser(element) {
        element.parentNode.remove();

    }

    function BanBindUser() {
        document.getElementById("users").innerHTML = "";
        document.getElementById("confirm_button2").disabled = "disabled";
        document.getElementById("user_id").readOnly="true";
        {#document.getElementById("bind_info").style.display = "inline-block";#}

    }

    function AllowBindUser() {
        document.getElementById("confirm_button2").disabled = "";
        document.getElementById("user_id").readOnly="";
        {#document.getElementById("bind_info").style.display = "none";#}

    }


    function CheckIfUserExists() {
        var paid_el = document.getElementsByName("is_paid");
        var username = document.getElementById("user_id").value;
        var authority;
        for (let i = 0; i < paid_el.length; i++) {
            if (paid_el[i].checked == true) {
                authority = paid_el[i].value;
            }
        }


        if (username == ""){
            alert("请输入用户名");
            return;
        }

        var user_list = document.getElementsByName("userlist");
        for (let i = 0; i < user_list.length; i++) {
            if (user_list[i].innerText == username) {
                alert("请勿重复添加");
                return;
            }
        }


        const formData = new FormData();
        formData.append("username", username);
        formData.append("authority", authority);
        $.ajax({
            url: "/check_user_exists",
            type: "POST",
            data: formData,
            async: false,
            processData: false,
            contentType: false,
            success: function (response) {
                if (response["error_code"] != "1000"){
                    {#document.getElementById("user_id").value = "";#}
                    alert(response["msg"]);
                }else{
                    var parent_el = document.getElementById("users");
                    var utag_model = document.getElementById("utag_model");
                    var new_tag = utag_model.cloneNode(true);
                    new_tag.style.display = "inline-block";
                    new_tag.id = username + "_tag";
                    new_tag.children[0].name = "userlist";
                    new_tag.children[0].innerText = response["msg"];
                    parent_el.appendChild(new_tag);

                    document.getElementById("user_id").value = "";
                }
            }
        });


    }


    function UpdateSingleResource() {
        var is_paid;
        var menu_id;
        var component_el;
        var is_component;
        var main_menu_id;
        var user_list = [];


        const formData = new FormData();

        var customize_user_list =  document.getElementsByName("userlist");
        var name = document.getElementById("zip_name").value;
        var new_name = document.getElementById("new_zip_name").value;
        var paid_el = document.getElementsByName("is_paid");
        var menu_el = document.getElementsByName("menus");
        var authority;

        component_el = document.getElementsByName("is_component");
        if (component_el[0].checked == true){
            is_component = 1;
        }else if (component_el[1].checked == true){
            is_component = 0;
        }

        if (is_related_product == true){
            var menu_list = document.getElementsByName("main_menu2");
            for (let i=0; i< menu_list.length; i++){
                if (menu_list[i].checked == true){
                    if (menu_list[i].value != main_menu_id){
                        main_menu_id = menu_list[i].value;
                    }
                }
            }
        }



        for (let i = 0; i < paid_el.length; i++) {
            if (paid_el[i].checked == true) {
                authority = paid_el[i].value;
            }
        }


        for (let i=0; i < menu_el.length; i++){
            if (menu_el[i].checked){
                if (menu_el[i].value != current_menu_id){
                    menu_id = menu_el[i].value;
                }else{
                    menu_id = current_menu_id;
                }
            }
        }

        if (customize_user_list.length == 0){
            user_list.push(document.getElementById("user_id").value);
        }else{
            for (let i = 0; i < customize_user_list.length; i++) {
                var user = customize_user_list[i].innerText;
                user_list.push(user);
            }
        }

        console.log("new data", menu_id, name,  authority, user_list);

        formData.append("username", "15600803270");
        formData.append("main_menu_id", main_menu_id);
        formData.append("user_list", user_list);
        formData.append("resource_type", 0); // 0: zip 1: 压缩包
        formData.append("resource_id", current_resource_id);
        formData.append("resource_name", name);
        formData.append("new_resource_name", new_name);
        formData.append("menu_id", menu_id);
        formData.append("is_paid", authority);
        formData.append("is_component", is_component);

        formData.append("is_related_product", is_related_product);

        //var params_res = CheckParams(1);

        $.ajax({
            url: "/modify_zip",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                var error_code = response["error_code"];
                if (error_code == "1000") {
                    console.log("", response["msg"]);
                    alert( "Succeeded in modifying resource information!  ");
                    window.location.reload();
                }
                else {
                    alert(response["msg"]);
                }
            }
        });
    }

    function CreateItems(data, func_num){
        // func_num 0: zip; 1: feature
        var resource_body;
        var td_model;
        var pre;
        var input_name;


            td_model = document.getElementById("td_model");
            resource_body = document.getElementById("resource_body");
            pre = "type_";
            input_name = "menus";


        if (data.length < 1){
            resource_body.innerText = "";
            var t = td_model.cloneNode(true);
            var input_ele = t.getElementsByClassName("custom-control-input")[0];
            var name_label = t.getElementsByClassName("custom-control-label")[0];

            input_ele.name = input_name;
            input_ele.value = "无";
            input_ele.id = "none";
            input_ele.checked = "";
            name_label.innerText = "无";
            name_label.htmlFor = "none";
            resource_body.appendChild(t);
        }
        else{
            resource_body.innerText = "";

            for (let i = 0; i < data.length; i++) {
                var t = td_model.cloneNode(true);
                var input_ele = t.getElementsByClassName("custom-control-input")[0];
                var name_label = t.getElementsByClassName("custom-control-label")[0];
                input_ele.name = input_name;
                input_ele.value = data[i][1];
                input_ele.id = pre + data[i][1];
                name_label.innerText = data[i][0];
                name_label.htmlFor = pre + data[i][1];

                if (i == 0){
                    input_ele.checked = "checked";
                    console.log("first one", data[i][0]);
                }else {
                    input_ele.checked = "";
                }
                resource_body.appendChild(t);
            }
        }
    }

    function GetType(menu_id, func_num) {
        const formData = new FormData();
        formData.append("username", "15600803270");
        formData.append("resource_type", 1);
        formData.append("menu_id", menu_id);

        $.ajax({
            url: '/get_resource',
            type: 'POST',
            data: formData,
            async:false,
            processData: false,
            contentType: false,
            success: function(res) {
                if (res["error_code"] == "1000"){
                    console.log("!!!", res['msg']['zip_list']);
                    if (func_num == 0){
                        CreateItems(res['msg']['zip_list'], func_num);
                    } else if (func_num == 1){
                        CreateItems(res['msg']['feature_list'], func_num);
                    }
                }else {
                    alert(res["msg"]);
                }
            },
        });
    }

    function GetResourceInfo(num) {
        {#alert("cds ");#}
        console.log("num", num);
        var resource_id;
        var resource_name;
        var current_menu;
        var is_paid;
        var is_component;
        var main_menu = document.getElementsByName("main_menu2");
        var pre_menus = document.getElementsByName("pre_menus");


        var uri_str = window.location.href.split("?")[1];
        if (uri_str != undefined){
            var uri_list = uri_str.split("&");
            if (uri_list.length > 1){
                var rid_str = uri_list[1];
                if (rid_str.split("=").length > 0){
                    resource_id = rid_str.split("=")[1]
                }
            }
        }else {
            resource_id = null;
        }

        resource_name = document.getElementById("zip_name").value;
        const formData = new FormData();
        formData.append("resource_type", num);
        formData.append("resource_id", resource_id);
        formData.append("resource_name", resource_name);
        console.log("!!!", num, resource_id, resource_name);

        current_menu = document.getElementById("zip_menu");
        is_paid = document.getElementsByName("is_paid");
        is_component = document.getElementsByName("is_component");

       $.ajax({
           url: "/single_resource",
           type: "POST",
           data: formData,
           processData: false,
           contentType: false,
           success: function (response) {
               var error_code = response["error_code"];
               if (error_code == "1000") {
                   SetReadonly();
                   document.getElementById("new_zip_name").value = resource_name;
                   var msg = response["msg"][0];
                   console.log("!!! ", msg);

                   resource_name.value = msg["name"];
                   main_menu_id = msg["main_menu_id"];
                   main_menu[main_menu_id-1].checked = "checked";
                   GetType(main_menu_id, 0);

                   var amenus = document.getElementsByName("menus");

                   for (let i=0; i< amenus.length; i++){
                        if (amenus[i].value == msg["secondary_menu_id"]){
                            amenus[i].checked = "checked";
                        }
                   }

                   var user_list = response["user_list"];
                   var parent_el = document.getElementById("users");
                   var utag_model = document.getElementById("utag_model");

                   for (let i=0; i< user_list.length; i++){
                       console.log(user_list[i]["username"]);
                       var new_tag = utag_model.cloneNode(true);
                       var delete_tag = new_tag.children[1];
                       new_tag.removeChild(delete_tag);
                       new_tag.style.display = "inline-block";
                       new_tag.id = user_list[i]["username"] + "_tag";
                       new_tag.children[0].name = "userlist";
                       new_tag.children[0].innerText = user_list[i]["username"];
                       parent_el.appendChild(new_tag);

                   }

                   // 0: 付费, 1: 免费 2: 会员付费
                   if (msg["Authority"] == 0){
                       is_paid[1].checked = "checked";
                        AllowBindUser();
                   }else if (msg["Authority"] == 1){
                       is_paid[3].checked = "checked";
                       BanBindUser();
                   } else if (msg["Authority"] == 2){
                       is_paid[0].checked = "checked";
                       BanBindUser();
                   }else if (msg["Authority"] == 3){
                       is_paid[2].checked = "checked";
                        BanBindUser();
                   }


                   current_menu.value = msg["secondary_menu"];
                   if (msg["is_component"] == true){
                       is_component[0].checked = "checked";
                   }else if (msg["is_component"] == false){
                       is_component[1].checked = "checked";
                   }

               }
               else {
                   if (error_code == "4004") {
                       alert("不存在, 请检查所输名称");
                       return false;
                   } else {
                       alert(response["msg"]);
                       return  false;
                   }
               }
           }
       });

       return true
    }
    GetType(1, 0);


    {#GetType(1, 1);#}


    if (window.location.href.split("?rtype=").length > 1){
        if (document.getElementById("zip_name") != ""){
            document.getElementById("confirm_button").click();
        }
    }

    {#var shop_phone = document.getElementById("shop_phone");#}
    var option = {
        attributes: true,
        attributeFilter: ['class']
    };



    var mutationObserver = new MutationObserver(function (mutations) {
        if (shop_header.className.indexOf('rd-navbar-fixed') != -1) {
            shop_title.style.display = "None";
            {#shop_phone.style.display = "Block";#}
        } else {
            shop_title.style.display = "Block";
            {#shop_phone.style.display = "None";#}

        }
    });

    mutationObserver.observe(shop_header, option)

</script>
